{{ partial "header/head" . }}

<body class="{{ .Title | urlize }}{{ with .Params.custom_class }} page-{{ . }}{{ end }}{{ with .Params.transparent_header }} -has-transparent-site-header{{ end }}">

  {{ partial "header/header" . }}

  {{ partial "page-header" . }}

  <div id="react-root">
    <section className="section section__about-instagram -has-dark-bg">
      <div className="about-instagram__row">
        <div class="instagram-post">
          <div className="instagram-post__image instagram-post__image--placeholder"></div>
        </div>
        <div class="instagram-post">
          <div className="instagram-post__image instagram-post__image--placeholder"></div>
        </div>
        <div class="instagram-post">
          <div className="instagram-post__image instagram-post__image--placeholder"></div>
        </div>
        <div class="instagram-post">
          <div className="instagram-post__image instagram-post__image--placeholder"></div>
        </div>
      </div>
    </section>
  </div>

  {{ partial "footer/footer" . }}

<script src="/js/instagram.js"></script>
  
{{ partial "footer/foot" . }}

</body>