{{ partial "header/head" . }}

<body class="{{ .Title | urlize }}{{ with .Params.custom_class }} page-{{ . }}{{ end }}{{ with .Params.transparent_header }} -has-transparent-site-header{{ end }}">

  {{ partial "header/header" . }}

  {{ partial "page-header" . }}

  {{ partial "section-photography-summary" . }}
  
  <div id="react-root">
    <section class="section section__about-instagram -has-dark-bg">
      <div class="about-instagram__row">

        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}
        {{ partial "instagram-post-placeholder" . }}

      </div>
    </section>
  </div>

  {{ partial "footer/footer" . }}

<script src="/js/instagram.js"></script>
  
{{ partial "footer/foot" . }}

</body>