{{ partial "header/head" . }}

<body class="single-photography{{ with .Params.custom_class }} {{ . }}{{ end }}{{ with .Params.transparent_header }} -has-transparent-site-header{{ end }}">

  {{ partial "header/header" . }}

  <section class="section single-photography__section -has-dark-bg">
    <figure class="single-photography__figure">
      {{ partial "photography-image" (dict "src" .Params.Featured "alt" .Title) }}
      <figcaption class="single-photography__figcaption">
        <div class="single-photography__meta">
          <small class="single-photography__date">
            {{ .Date.Format "2" }}<sup class="photography-summary__date-sup">{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }}</sup> {{ .Date.Format "Jan 2006" }}
          </small>
          <h1 class="single-photography__title">
            {{ .Title }}
          </h1>
          <div class="single-photography__description">
            {{ .Content }}
          </div>
        </div>
        <span class="single-photography__background-device"></span>
      </figcaption>
    </figure>
  </section>

  {{ partial "footer/footer" . }}

{{ partial "footer/foot" . }}

</body>