{{ partial "header/head" . }}

<body class="single-photography{{ with .Params.custom_class }} {{ . }}{{ end }}{{ with .Params.transparent_header }} -has-transparent-site-header{{ end }}">

  {{ partial "header/header" . }}

  <section class="section single-photography__section -has-dark-bg">
    <figure class="single-photography__figure">
      
      {{/* Create responsive images. */}}
      {{ $orientation := .Params.Orientation }}
      {{ $lqip_scratch := newScratch }}

      {{ with .Resources.ByType "image" }}
        {{ range . }}

          {{ if eq $orientation "landscape" }}
            {{ $lqip_scratch.Set "lqip" (.Resize "1600x q1").RelPermalink }}
            {{ $lqip_scratch.Set "src" (.Resize "1600x q75").RelPermalink }}
            {{ end }}
            
            {{ if eq $orientation "portrait" }}
            {{ $lqip_scratch.Set "lqip" (.Resize "x1600 q1").RelPermalink }}
            {{ $lqip_scratch.Set "src" (.Resize "x1600 q75").RelPermalink }}
          {{ end }}

          {{ $lqip := $lqip_scratch.Get "lqip" }}
          {{ $src := $lqip_scratch.Get "src" }}

          {{ partial "photography-image" (dict "src" $src "lqip" $lqip "alt" .Title) }}
          
        {{ end }}
      {{ end }}
      {{/*  {{ partial "photography-image" (dict "src" .Params.Featured "alt" .Title) }}  */}}

      <figcaption class="single-photography__figcaption">
        <div class="single-photography__meta">
          <small class="single-photography__date">
            {{ .Date.Format "2" }}<sup class="photography-summary__date-sup">{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }}</sup> {{ .Date.Format "Jan 2006" }}
          </small>
          <h1 class="single-photography__title">
            {{ .Title }}
          </h1>
          <div class="single-photography__description">
            {{ .Content }}
          </div>
        </div>
        <span class="single-photography__background-device"></span>
      </figcaption>
    </figure>
  </section>

  {{ partial "footer/footer" . }}

{{ partial "footer/foot" . }}

</body>