

//
//  404
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section__404 {
  background: $color-gray-e;
  padding-top: $section-padding-xs-top-bottom + $site-header-height-sm;
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@include respond-above(xs) {
  .section__404 {
    padding-top: $section-padding-sm-top-bottom + $site-header-height-sm;
  }
}

@include respond-above(sm) {
  .section__404 {
    padding-top: $section-padding-md-top-bottom + $site-header-height-md;
  }
}

@include respond-above(md) {
  .section__404 {
    padding-top: $section-padding-lg-top-bottom + $site-header-height-lg;
  }
}
