

//
//  CONTACT
//––––––––––––––––––––––––––––––––––––––––––––––––––

$contact-page-header-bg: #5e5e5e;

$contact-page-header-padding-top-xs: ($gutter * 2) + $site-header-height-sm;
$contact-page-header-padding-bottom-xs: $gutter * 2;

$contact-page-header-padding-top-sm: ($gutter * 3) + $site-header-height-sm;
$contact-page-header-padding-bottom-sm: $gutter * 3;

$contact-page-header-padding-top-md: ($gutter * 4) + $site-header-height-md;
$contact-page-header-padding-bottom-md: $gutter * 4;

$contact-page-header-padding-top-lg: ($gutter * 4) + $site-header-height-lg;
$contact-page-header-padding-bottom-lg: $gutter * 4;

$contact-page-header-padding-top-xl: ($gutter * 4) + $site-header-height-lg;
$contact-page-header-padding-bottom-xl: $gutter * 4;


//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.page-contact {
  .section__page-header {
    background-color: $contact-page-header-bg;
    padding: $contact-page-header-padding-top-xs 0 $contact-page-header-padding-bottom-xs;
  }

  .page-header__title {
    margin-bottom: $base-margin-bottom-xs;
  }
}

@include respond-above(xs) {
  .page-contact {
    .section__page-header {
      padding: $contact-page-header-padding-top-sm 0 $contact-page-header-padding-bottom-sm;
    }
  }
}

@include respond-above(sm) {
  .page-contact {
    .section__page-header {
      padding: $contact-page-header-padding-top-md 0 $contact-page-header-padding-bottom-md;
    }

    .page-header__title {
      margin-bottom: $base-margin-bottom;
    }
  }
}

@include respond-above(md) {
  .page-contact {
    .section__page-header {
      padding: $contact-page-header-padding-top-lg 0 $contact-page-header-padding-bottom-lg;
    }
  }
}

@include respond-above(lg) {
  .page-contact {
    .section__page-header {
      padding: $contact-page-header-padding-top-xl 0 $contact-page-header-padding-bottom-xl;
    }
  }
}


//
//  FEATURED IMAGE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.page-contact {
  .page-header__featured-image {
    background-position: 65% 50%;
  }
}


//
//  FORM
//––––––––––––––––––––––––––––––––––––––––––––––––––

.page-contact {
  .form {
    .btn {
      margin-bottom: 0;
    }
  }
}
