//
//  ARTICLE SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  SECTION
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section__articles-summary {
  padding: 0;
}

.articles-summary__wrapper {
  padding: $section-padding-xs;
}

@include respond-above(xs) {
  .articles-summary__wrapper {
    padding: $section-padding-sm;
  }
}

@include respond-above(sm) {
  .articles-summary__wrapper {
    padding: $section-padding-md;
  }
}

@include respond-above(md) {
  .articles-summary__wrapper {
    padding: $section-padding-lg;
  }
}


//
//  ARTICLE SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary {
  margin-bottom: $gutter * 2;
}

@include respond-above(xs) {
  .article-summary {
    margin-bottom: $gutter * 3;
  }  
}


//
//  DATE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__date {
  background: $white;
  box-shadow: 0 0 0 7px $color-gray-e;
  height: 50px;
  top: 0;
  transform: translateY(0) translateX(22px);
  width: 50px;

  .article-date__month {
    font-size: rem(10px);
  }

  .article-date__day {
    font-size: rem(24px);
  }
}


//
//  LINK
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__link {
  color: $base-font-color;
  display: block;

  &:hover,
  &:active,
  &:focus {
    color: $base-font-color;
    text-decoration: none;

    .article-summary__title {
      text-decoration: underline;
    }
  }
}


//
//  TITLE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__title {
  color: $link-font-color;
  margin-bottom: $gutter;
}


//
//  CATEGORIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__categories {
  display: inline-block;
  list-style-type: none;
}

.article-summary__category {
  background: #eee;
  display: inline-block;
  font-size: rem(10px);
  font-weight: bold;
  line-height: 1.1;
  padding: $gutter/3 $gutter/2;
  text-transform: uppercase;
  vertical-align: top;
}


//
//  EXCERPT
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__excerpt {
  display: none;
}

@include respond-above(xs) {
  .article-summary__excerpt {
    display: block;
  }
}
