

//
//  ARTICLE SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary {
  margin-bottom: $gutter;
}

@include respond-above(sm) {
  .article-summary {
    margin-bottom: $gutter * 2;
  }
}


//
//  LINK
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__link {
  background: $white;
  border-bottom: 3px solid $color-gray-d;
  color: $base-font-color;
  display: block;
  position: relative;
  // padding: $gutter;

  &:hover,
  &:active,
  &:focus {
    color: $base-font-color;
    text-decoration: none;
  }
}

@include respond-above(sm) {
  .article-summary {
    transition: all .4s ease;

    &.-is-being-hovered {
      transition: all .1s ease;
    }

    &:hover {
      // perspective: 600px;
      // transform: perspective(600px) rotateY(0deg) rotateX(-1deg) scale(1.05);
    }
  }
}

@include respond-above(lg) {
  .article-summary__link {
    border-bottom-width: 4px;
  }
}


//
//  FEATURED IMAGE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__featured-image {
  background-color: $color-gray-f;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

@include respond-above(xs) {
  .article-summary__featured-image {
    height: 180px;
  }
}

@include respond-above(sm) {
  .article-summary__featured-image {
    height: 175px;
  }
}


//
//  CONTENT WRAPPER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__content-wrapper {
  display: block;
  padding: $gutter;
  position: relative;
}



//
//  DATE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__date {
  background: $white;
  // border-radius: 0;
  box-shadow: 0 0 0 5px rgba($black, .05);
  display: block;
  height: 55px;
  position: absolute;
  right: $gutter;
  top: -40px;
  width: 55px;
  z-index: 1;

  .article-date__month {
    font-size: rem(11px);
  }

  .article-date__day {
    font-size: rem(26px);
  }
}



//
//  TITLE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__title {
  color: $link-font-color;
  line-height: 1.2;
  margin-bottom: $gutter / 2;
  text-decoration: none;
}


//
//  CATEGORIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__categories {
  list-style-type: none;
  opacity: 1;
  position: absolute;
  right: 85px;
  top: -35px;
}

.article-summary__category {
  background: rgba($black, .4);
  border-radius: 1000px;
  color: rgba($white, .6);
  display: inline-block;
  font-size: rem(9px);
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.1;
  padding: $gutter/3 $gutter/2;
  text-transform: uppercase;
  vertical-align: top;
}

@include respond-above(sm) {
  .article-summary__categories {
    opacity: .5;
    transition: all .4s ease;
  }

  .article-summary__link {
    &:hover {
      .article-summary__categories {
        opacity: 1;
      }
    }
  }

  .article-summary__category {
    font-size: rem(10px);
  }
}


//
//  EXCERPT
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-summary__excerpt {
  color: $color-gray-6;
  font-size: rem(16px);
  line-height: 1.4;
  margin-bottom: 0;
}

@include respond-above(xs) {
  .article-summary__excerpt {
    font-size: rem(18px);
  }
}


//
//  CUSTOM PADDING BETWEEN SM AND MD
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-between(sm, md) {
  .row__articles-summary {
    margin-left: - ($gutter * 1.5) / 2;
    margin-right: - ($gutter * 1.5) / 2;
  }

  .col__article-summary {
    padding-left: ($gutter * 1.5) / 2;
    padding-right: ($gutter * 1.5) / 2;
  }

  .article-summary {
    margin-bottom: $gutter * 1.5;
  }
}
