

//
//  BUTTONS VARS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$button-background-color: $color-primary;
$button-background-color-hover: lighten($color-primary, 5%);

$button-font-color: $white;
$button-font-color-hover: $white;

$button-border-radius: 3px;
$button-padding: 14px 20px;
