

//
//  BUTTONS
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  STYLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.btn {
  background-color: $button-bg;
  border: 0;
  border-radius: $button-border-radius;
  color: $button-font-color;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin-bottom: $base-margin-bottom;
  padding: $button-padding;
  transition: all .2s ease;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

@include respond-above(sm) {
  .btn {
    &:hover,
    &:focus,
    &:active {
      background-color: $button-bg-hover;
      color: $button-font-color-hover;
    }
  }
}


//
//  SECONDARY
//––––––––––––––––––––––––––––––––––––––––––––––––––

.btn {
  &.-has-color-secondary {
    background-color: $button-bg-secondary;
  }
}

@include respond-above(sm) {
  .btn {
    &.-has-color-secondary {
      &:hover,
      &:focus,
      &:active {
        background-color: $button-bg-secondary-hover;
      }
    }
  }
}


//
//  LARGE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.btn {
  &.-is-large {
    border-radius: $button-border-radius-lg;
    padding: $button-padding-lg;
  }
}
