

//
//  BUTTONS
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$button-background-color: $color-primary;
$button-background-color-hover: lighten($color-primary, 5%);

$button-font-color: $white;
$button-border-radius: 3px;
$button-padding: 14px 20px;


//
//  STYLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.btn {
  background-color: $button-background-color;
  border: 0;
  border-radius: $button-border-radius;
  color: $button-font-color;
  cursor: pointer;
  display: block;
  // font-weight: bold;
  line-height: 1;
  margin-bottom: $base-margin-bottom;
  padding: $button-padding;
  transition: all .2s ease;

  &:focus {
    outline: none;
  }
}

@include respond-above(sm) {
  .btn {
    &:hover,
    &:focus,
    &:active {
      background-color: $button-background-color-hover;
    }
  }
}
