//
//  BUTTONS VARS
//––––––––––––––––––––––––––––––––––––––––––––––––––

@use "sass:color";

// Primary color.
$button-bg: $color-primary;
$button-bg-hover: color.adjust($color-primary, $lightness: 5%);

// Secondary background color.
$button-bg-secondary: $color-secondary;
$button-bg-secondary-hover: color.adjust($color-secondary, $lightness: 5%);

$button-font-color: $white;
$button-font-color-hover: $white;

$button-border-radius: 3px;
$button-padding: 14px 20px;

// Large.
$button-border-radius-lg: 5px;
$button-padding-lg: 18px 30px;
