//
//  CODE
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  INLINE CODE
//––––––––––––––––––––––––––––––––––––––––––––––––––

p,
li,
small {
  > code {
    background-color: $color-gray-e;
    border-radius: 3px;
    display: inline-block;
    font-size: 80%;
    padding-left: $gutter * .25;
    padding-right: $gutter * .25;
  }
}


//
//  CODE BLOCK
//––––––––––––––––––––––––––––––––––––––––––––––––––

pre {
  background: $color-gray-e;
  border-radius: 4px;
  margin: 0;
  margin-bottom: $base-margin-bottom-xs;
  padding: $gutter;
}

@include respond-above(xs) {
  pre {
    margin-bottom: $base-margin-bottom;
  }
}

@include respond-above(sm) {
  .-is-expandable {
    pre {
      position: relative;
      transition: all .1s ease;

      &:hover {
        margin-right: -16vw;
        max-width: 100vw;
      }
    }
  }
}

@include respond-above(md) {
  .-is-expandable {
    pre {
      &:hover {
        margin-right: -20vw;
      }
    }
  }
}

@include respond-above(lg) {
  .-is-expandable {
    pre {
      &:hover {
        margin-right: -22vw;
      }
    }
  }
}
