

//
//  FORMS
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  FIELD VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Field.
$form-field-background-color: transparent;
$form-field-font-color: $base-font-color;

$form-field-height: 50px;
$form-field-padding: 12px;

// Border.
$form-field-border-radius: 3px;
$form-field-border-width: 2px;

// Border colors.
$form-field-border-color: $color-gray-d;
$form-field-border-color-focus: $color-gray-8;
$form-field-border-color-error: $color-secondary;
$form-field-border-color-error-focus: darken($form-field-border-color-error, 15%);

// Placeholder.
$form-field-placeholder-background-color: $white;
$form-field-placeholder-color: $form-field-border-color;
$form-field-placeholder-color-focus: $form-field-border-color-focus;
$form-field-placeholder-color-error: $form-field-border-color-error;
$form-field-placeholder-color-error-focus: $form-field-border-color-error-focus;

// Box shadow.
$form-field-box-shadow: none;
$form-field-box-shadow-focus: 0 5px 20px rgba($form-field-border-color, .2);
$form-field-box-shadow-error: none;
$form-field-box-shadow-error-focus: 0 5px 20px rgba($form-field-border-color-error, .2);


//
//  CHECK VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$form-check-border-radius: 3px;
$form-check-border-color: $form-field-border-color;
$form-check-border-color-focus: $form-field-border-color-focus;
$form-check-checked-color: $color-gray-8;


//
//  DARK BG VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$dark-bg-form-field-background-color: rgba($black, .25);


//
//  FIELDSET
//––––––––––––––––––––––––––––––––––––––––––––––––––

.form__fieldset {
  border: 0;
  display: inline-block;
  margin: 0;
  margin-bottom: $gutter;
  padding: 0;
  position: relative;
  width: 100%;
}

.form__fieldset-inline {
  margin-right: $gutter / 2;
  width: auto;
}


//
//  SELECT FIELDSET
//––––––––––––––––––––––––––––––––––––––––––––––––––

.form__fieldset-select {
  &:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid $form-field-border-color;
    content: '';
    height: 0; 
    position: absolute;
    right: 14px;
    top: 20px;
    transition: all .2s ease;
    width: 0;
  }

  &.-has-focus {
    &:after {
      border-top-color: $form-field-border-color-focus;
    }
  }
}


//
//  FIELD
//––––––––––––––––––––––––––––––––––––––––––––––––––

.form__field {
  appearance: none;
  background-color: $form-field-background-color;
  border: $form-field-border-width solid $form-field-border-color;
  border-radius: $form-field-border-radius;
  box-shadow: $form-field-box-shadow;
  color: $form-field-font-color;
  display: block;
  padding: $form-field-padding;
  transition: all .2s ease;
  width: 100%;

  // Field is focused.
  &:focus {
    border-color: $form-field-border-color-focus;
    box-shadow: $form-field-box-shadow-focus;
    outline: 0;
  }
  
  // Field has errors.
  &.-has-error {
    border-color: $form-field-border-color-error;
    box-shadow: $form-field-box-shadow-error;

    // Field has errors and focused.
    &:focus {
      border-color: $form-field-border-color-error-focus;
      box-shadow: $form-field-box-shadow-error-focus;
    }
  }
  
  // Field is valid.
  &:valid {
    border-color: $form-field-border-color;
    box-shadow: $form-field-box-shadow;

    // Field is valid and focused.
    &:focus {
      border-color: $form-field-border-color-focus;
      box-shadow: $form-field-box-shadow-focus;
    }
  }
}

input.form__field,
select.form__field {
  height: $form-field-height;
  transition: all .2s ease;
}

textarea.form__field {
  min-height: $form-field-height;
  resize: vertical;
  transition: border .2s ease;
}


//
//  LABEL
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Default hidden state.
.form__field-label {
  background: $form-field-placeholder-background-color;
  color: $form-field-placeholder-color;
  display: block;
  font-size: 11px;
  font-weight: bold;
  left: $form-field-padding;
  letter-spacing: .075em;
  line-height: 1;
  opacity: 0;
  padding: 4px;
  position: absolute;
  text-transform: uppercase;
  top: -6px;
  transition: all .2s ease;
  z-index: -1;
}

// Once form field has text in it or a selection has been made.
.form__field:valid + .form__field-label,
.form__field.-has-text + .form__field-label {
  opacity: 1;
  top: -8px;
  z-index: 1;
}

// When a form field has focus, change the label to match the form border.
.form__field:focus + .form__field-label {
  color: $form-field-placeholder-color-focus;
}

// When a form field has an error.
.form__field.-has-error + .form__field-label {
  color: $form-field-placeholder-color-error;
}

// When a form field is valid.
.form__field:valid + .form__field-label {
  color: $form-field-placeholder-color;
}

// When a form field is valid AND focused.
.form__field:valid:focus + .form__field-label {
  color: $form-field-placeholder-color-focus;
}


//
//  CHECKBOX / RADIO
//––––––––––––––––––––––––––––––––––––––––––––––––––

.form__check {
  opacity: 0;
  float: left;
  width: 20px;

  + label {
    clear: none;
    cursor: pointer;
    display: block;
    line-height: 20px;
    margin: 0;
    padding-left: 30px;
    position: relative;

    // Input border.
    &:before {
      border: 2px solid $form-check-border-color;
      border-radius: $form-check-border-radius;
      content: '';
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      transition: all .2s ease;
      width: 20px;
    }
    
    // Input selected.
    &:after {
      background: transparent;
      border-radius: 2px;
      content: '';
      height: 10px;
      left: 5px;
      position: absolute;
      top: 5px;
      transform: scale(.01);
      transition: all .1s ease;
      width: 10px;
    }
  }

  // Check is focused.
  &:focus {
    + label {
      &:before {
        border-color: $form-check-border-color-focus;
      }
    }
  }
  
  // Check is checked.
  &:checked {
    + label {
      &:after {
        background: $form-check-checked-color;
        transform: scale(1);
      }
    }
  }
}

// Radio.
.form__check-radio {
  + label {
    // Make both the border and fill circles.
    &:before,
    &:after {
      border-radius: 50%;
    }
  }
}



//
//  DARK BG
//––––––––––––––––––––––––––––––––––––––––––––––––––

.-has-dark-bg {
  .form__field {
    background-color: $dark-bg-form-field-background-color;
  }
}