

//
//  HIGHLIGHT
//––––––––––––––––––––––––––––––––––––––––––––––––––

.highlight {
  pre {
    background-color: $color-primary-darker !important;
    font-size: rem(16px);
    overflow-x: scroll;
  }
}
