//
//  INSTAGRAM SECTION
//––––––––––––––––––––––––––––––––––––––––––––––––––

$instagram-grid-padding: $gutter;


//
//  INSTAGRAM SECTION
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section__about-instagram {
  background-color: $color-gray-1;
  padding-bottom: $instagram-grid-padding;
  padding-top: $instagram-grid-padding;
}


//
//  INSTAGRAM ROW
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-above(sm) {
  .about-instagram__row {
    columns: 3;
    column-gap: $instagram-grid-padding;
    padding-left: $instagram-grid-padding;
    padding-right: $instagram-grid-padding;
  }
}

@include respond-above(md) {
  .about-instagram__row {
    columns: 4;
  }
}

@include respond-above(xl) {
  .about-instagram__row {
    columns: 5;
  }
}


//
//  INSTAGRAM POST
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-above(sm) {
  .instagram-post {
    box-shadow: 0 2px 10px rgba($black, .1);
    display: inline-block;
    margin-bottom: $instagram-grid-padding;
  }
}


//
//  INSTAGRAM IMAGE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.instagram-post__image {
  display: block;
  height: auto;
  width: 100%;
}


//
//  INSTAGRAM META
//––––––––––––––––––––––––––––––––––––––––––––––––––

.instagram-post__meta {
  background-color: $color-gray-2;
  padding: $gutter;
}


//
//  INSTAGRAM CAPTION
//––––––––––––––––––––––––––––––––––––––––––––––––––

.instagram-post__caption {
  font-size: rem(16px);
  line-height: 1.4;
  margin-bottom: $gutter * .25;
}

.instagram-post__meta {
  .instagram-post__caption {
    color: rgba($white, .5);
  }
}


//
//  INSTAGRAM LIKES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.instagram-post__likes {
  color: rgba($white, .2);
  display: block;
}


//
//  LOADING
//––––––––––––––––––––––––––––––––––––––––––––––––––

.instagram-post--loading {
  width: 100%;
}


//
//  IMAGE PLACEHOLDER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.instagram-post__image--placeholder {
  background-color: darken($color-gray-2, 3%);
  padding-bottom: 100%;
}

//
//  CAPTION PLACEHOLDER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.instagram-post__caption--placeholder {
  background-color: darken($color-gray-2, 3%);
  width: 80%;
}

//
//  LIKES PLACEHOLDER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.instagram-post__likes--placeholder {
  background-color: darken($color-gray-2, 3%);
  width: 30px;
}
