

//
//  PAGE HEADER ICON VARS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$page-header-icon-size-xs: 50px;
$page-header-icon-size-sm: 70px;
$page-header-icon-size-md: 70px;
$page-header-icon-size-lg: 70px;
$page-header-icon-size-xl: 80px;

$page-header-icon-top-xs: $gutter * 5.75;
$page-header-icon-top-sm: $gutter * 7.25;
$page-header-icon-top-md: $gutter * 8.75;
$page-header-icon-top-lg: $gutter * 10;
$page-header-icon-top-xl: $gutter * 12.5;

$page-header-icon-background-color: $color-gray-2;

$page-header-icon-border-width: 5px;
$page-header-icon-border-color: rgba($white, .075);
