//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  COLORS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$page-header-bg: $color-gray-e;


//
//  STYLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section__page-header {
  background-color: $page-header-bg;
}

@include respond-above(md) {
  .section__page-header {
    padding: $gutter*6 0 ;
  }
}

@include respond-above(lg) {
  .section__page-header {
    padding: $gutter*8 0 ;
  }
}


//
//  TITLE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.page-header__title {
  margin-bottom: 0;
}

@include respond-above(xl) {
  .page-header__title {
    font-size: 72px;
  }
}