

//
//  BACKGROUND DEVICE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.page-header__background-device {
  background: rgba($black, .05);
  height: 100%;
  left: 0;
  margin-left: 63px;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  width: 100%;
  z-index: $z-index-background-device;

  .line {
    background: rgba($black, .05);
    height: 100%;
    position: absolute;
  }

  .line-thick {
    right: 6px;
    width: 5px;
  }

  .line-thin {
    right: 0;
    width: 3px;
  }
}

.section__page-header {
  &.-has-background-device {
    padding: 0;

    .page-header__hgroup {
      padding: $page-header-padding-top-xs 0 $page-header-padding-bottom-xs;
    }
  }
}

@include respond-above(xs) {
  .section__page-header {
    &.-has-background-device {
      .page-header__hgroup {
        padding: $page-header-padding-top-sm 0 $page-header-padding-bottom-sm;
      }
    }
  }
}

@include respond-above(sm) {
  .section__page-header {
    &.-has-background-device {
      .page-header__hgroup {
        padding: $page-header-padding-top-md 0 $page-header-padding-bottom-md;
      }
    }
  }
}

@include respond-above(md) {
  .section__page-header {
    &.-has-background-device {
      .page-header__hgroup {
        padding: $page-header-padding-top-lg 0 $page-header-padding-bottom-lg;
      }
    }
  }
}

@include respond-above(lg) {
  .section__page-header {
    &.-has-background-device {
      .page-header__hgroup {
        padding: $page-header-padding-top-xl 0 $page-header-padding-bottom-xl;
      }
    }
  }
}


//
//  DARK BACKGROUND
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section__page-header {
  &.-has-dark-bg {
    .page-header__background-device {
      background: rgba($black, .4);

      .line {
        background: rgba($white, .125);
      }
    }
  }
}
