

//
//  PAGE HEADER VARS
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  COLORS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$page-header-bg: $color-gray-e;
$page-header-bg-dark: $color-gray-2;
$page-header-title-font-color-dark: $white;


//
//  LAYOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––

// $page-header-padding-top-xs: $gutter*2 + $site-header-height-sm;
// $page-header-padding-bottom-xs: $gutter * 2;

// $page-header-padding-top-sm: $gutter*3 + $site-header-height-sm;
// $page-header-padding-bottom-sm: $gutter * 3;

// $page-header-padding-top-md: $gutter*4 + $site-header-height-md;
// $page-header-padding-bottom-md: $gutter * 4;

// $page-header-padding-top-lg: $gutter*5 + $site-header-height-lg;
// $page-header-padding-bottom-lg: $gutter * 5;

// $page-header-padding-top-xl: $gutter*6 + $site-header-height-lg;
// $page-header-padding-bottom-xl: $gutter * 6;

$page-header-padding-top-xs: $gutter*6 + $site-header-height-sm;
$page-header-padding-bottom-xs: $gutter*3;

$page-header-padding-top-sm: $gutter*8 + $site-header-height-sm;
$page-header-padding-bottom-sm: $gutter*4;

$page-header-padding-top-md: $gutter*10 + $site-header-height-md;
$page-header-padding-bottom-md: $gutter*5;

$page-header-padding-top-lg: $gutter*12 + $site-header-height-lg;
$page-header-padding-bottom-lg: $gutter * 6;

$page-header-padding-top-xl: $gutter*16 + $site-header-height-lg;
$page-header-padding-bottom-xl: $gutter * 6;
