//
//  PHOTOGRAPHY SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  PHOTOGRAPHY SUMMARY ROW
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-above(sm) {
  .photography-summary__row {
    columns: 3;
    column-gap: $photography-grid-padding;
    padding-left: $photography-grid-padding;
    padding-right: $photography-grid-padding;
  }
}

@include respond-above(md) {
  .photography-summary__row {
    columns: 4;
  }
}

@include respond-above(xl) {
  .photography-summary__row {
    columns: 5;
  }
}


//
//  PHOTOGRAPHY SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––

.photography-summary {
  text-decoration: none;
  // width: 100%;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

@include respond-above(sm) {
  .photography-summary {
    box-shadow: 0 2px 10px rgba($black, .1);
    display: inline-block;
    margin-bottom: $photography-grid-padding;
    width: 100%;
  }
}


//
//  IMAGE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.photography-summary__image {
  position: relative;
  height: 250px;
  width: 100%;
}



//
//  META
//––––––––––––––––––––––––––––––––––––––––––––––––––

.photography-summary__meta {
  background-color: $color-gray-2;
  padding: $gutter;
}


//
//  CAPTION
//––––––––––––––––––––––––––––––––––––––––––––––––––

.photography-summary__caption {
  font-size: rem(16px);
  line-height: 1.4;
  margin-bottom: $gutter * .25;
}

.photography-summary__meta {
  .photography-summary__caption {
    color: rgba($white, .5);
  }
}


//
//  SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––

.photography-summary__summary {
  color: rgba($white, .2);
  display: block;
}


//
//  DATE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.photography-summary__date {
  color: rgba($white, .15);
  display: block;
  font-size: rem(12px);
  font-weight: bold;
  line-height: 1;
  margin-bottom: $gutter * .4;
  letter-spacing: 0.02em;
  text-transform: uppercase;  
}

.photography-summary__date-sup {
  font-size: rem(7px);
}
