

//
//  SECTION - ARTICLES SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––

$article-summary-padding-top-bottom-xs: $gutter * 1.5;
$article-summary-padding-top-bottom-sm: $gutter * 2;
$article-summary-padding-top-bottom-md: $gutter * 2;
$article-summary-padding-top-bottom-lg: $gutter * 2;
$article-summary-padding-top-bottom-xl: $gutter * 2;


//
//  SECTION
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section__articles-summary {
  background: $color-gray-e;
  padding-bottom: $article-summary-padding-top-bottom-xs;
  padding-top: $article-summary-padding-top-bottom-xs;
}

@include respond-above(xs) {
  .section__articles-summary {
    padding-bottom: $article-summary-padding-top-bottom-sm;
    padding-top: $article-summary-padding-top-bottom-sm;
  }
}

@include respond-above(sm) {
  .section__articles-summary {
    padding-bottom: $article-summary-padding-top-bottom-md;
    padding-top: $article-summary-padding-top-bottom-md;
  }
}

@include respond-above(md) {
  .section__articles-summary {
    padding-bottom: $article-summary-padding-top-bottom-lg;
    padding-top: $article-summary-padding-top-bottom-lg;
  }
}

@include respond-above(lg) {
  .section__articles-summary {
    padding-bottom: $article-summary-padding-top-bottom-xl;
    padding-top: $article-summary-padding-top-bottom-xl;
  }
}


//
//  IS FIRST SECTION
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section__articles-summary {
  &.-is-first-section {
    padding-top: $article-summary-padding-top-bottom-xs + $site-header-height-xs;
  }
}

@include respond-above(xs) {
  .section__articles-summary {
    &.-is-first-section {
      padding-top: $article-summary-padding-top-bottom-sm + $site-header-height-sm;
    }
  }
}

@include respond-above(sm) {
  .section__articles-summary {
    &.-is-first-section {
      padding-top: $article-summary-padding-top-bottom-md + $site-header-height-md;
    }
  }
}

@include respond-above(md) {
  .section__articles-summary {
    &.-is-first-section {
      padding-top: $article-summary-padding-top-bottom-lg + $site-header-height-lg;
    }
  }
}

@include respond-above(lg) {
  .section__articles-summary {
    &.-is-first-section {
      padding-top: $article-summary-padding-top-bottom-xl + $site-header-height-xl;
    }
  }
}