

//
//  SOCIAL LINKS
//––––––––––––––––––––––––––––––––––––––––––––––––––

.social-links {
  
}

.social-links__item {
  display: inline-block;
}

.social-links__link {
  color: rgba($white, .5);
  display: block;
  padding: $gutter/2;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

@include respond-above(sm) {
  .social-links__link {
    &:hover,
    &:focus,
    &:active {
      color: rgba($white, .75);
    }
  }
}