

//
//  TABLE OF CONTENTS
//––––––––––––––––––––––––––––––––––––––––––––––––––

.table-of-contents {
  margin-bottom: $base-margin-bottom-xs;

  ul {
    margin-left: 0;
    margin-bottom: 0;

    li {
      line-height: 1.1;
      display: block;
      margin-bottom: $gutter * .25;
    }

    a {
      border: 0;
      color: $color-gray-8;
      font-size: $article-font-size-xs;

      &:hover {
        border: 0;
        color: $link-font-color-hover;
      }
    }

    ul {
      margin-top: $gutter * .25;

      ul {
        margin-left: $gutter;
      }
    }
  }
}

@include respond-above(xs) {
  .table-of-contents {
    ul {
      a {
        font-size: $article-font-size-sm
      }
    }
  }
}

@include respond-above(sm) {
  .table-of-contents {
    margin-bottom: $base-margin-bottom;

    ul {
      li {
        margin-bottom: $gutter * .5;
      }

      ul {
        margin-top: $gutter * .5;
      }
    }
  }
}


//
//  TOGGLE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.table-of-contents__toggle {
  display: inline-block;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}


//
//  TOGGLE ICON
//––––––––––––––––––––––––––––––––––––––––––––––––––

.table-of-contents__toggle-icon {
  display: inline-block;
  width: 40px;
  vertical-align: top;
}

.table-of-contents__toggle-icon-bar {
  background: $color-gray-d;
  display: block;
  height: 3px;
  margin-bottom: 3px;
  position: relative;
  width: 100%;

  &:after {
    content: '';
    background: $white;
    display: block;
    height: 3px;
    left: 3px;
    position: absolute;
    top: 0;
    width: 2px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.table-of-contents__toggle-icon-bar-1 {
  background: $color-gray-a;
  width: 66.66%;

  &:after {
    display: none;
  }
}

.table-of-contents__toggle-icon-bar-4,
.table-of-contents__toggle-icon-bar-5 {
  width: 85%;
  margin-left: 15%;
}

.table-of-contents__toggle-icon-bar-6,
.table-of-contents__toggle-icon-bar-7,
.table-of-contents__toggle-icon-bar-8 {
  display: none;
}


//
//  TOGGLE LABEL
//––––––––––––––––––––––––––––––––––––––––––––––––––

.table-of-contents__toggle-label {
  color: $color-gray-c;
  display: inline-block;
  font-weight: bold;
  font-size: rem(12px);
  letter-spacing: .05em;
  line-height: 1.2;
  margin-left: $gutter * .5;
  text-transform: uppercase;
  vertical-align: top;
  width: 100px;
}



//
//  WRAPPER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.table-of-contents__wrapper {
  display: none;
  margin-bottom: 0;
  margin-top: $gutter;
}

@include respond-above(sm) {
  .table-of-contents__wrapper {
    margin-bottom: 0;
    margin-left: 50px;
  }
}

.table-of-contents {
  &.-is-expanded {
    .table-of-contents__wrapper {
      display: block;
    }
  }
}


//
//  TITLE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.table-of-contents__title {
  color: $color-gray-8;
  // display: none;
  font-size: rem(12px);
  letter-spacing: .05em;
  margin-bottom: $gutter * .25;
  text-transform: uppercase;
}

@include respond-above(xs) {
  .table-of-contents__title {
    font-size: rem(14px);
  }
}
