

//
//  IFRAME
//––––––––––––––––––––––––––––––––––––––––––––––––––

iframe.codepen {
  margin-bottom: $base-margin-bottom-xs;
}

@include respond-above(sm) {
  iframe.codepen {
    margin-bottom: $base-margin-bottom;
  }
}

.iframe-wrapper {
  height: 0;
  margin-bottom: $base-margin-bottom-xs;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@include respond-above(sm) {
  .iframe-wrapper {
    margin-bottom: $base-margin-bottom;
  }
}
