
//
//  RELATED ARTICLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section__related-articles {
  background: $color-gray-e;
}

.section__related-articles__title {
  margin-bottom: $gutter * .5;
}

@include respond-above(sm) {
  .section__related-articles {
    .article-summary__content-wrapper {
      min-height: 240px;
    }

    .article-summary__title {
      font-size: $h4-font-size;
    }

    .article-summary__excerpt {
      font-size: rem(16px);
    }
  }
}

@include respond-between(sm, md) {
  .section__related-articles {
    .col__article-summary {
      &:nth-child(3) {
        display: none;
      }
    }
  }
}

@include respond-above(md) {
  .section__related-articles {
    .article-summary__content-wrapper {
      min-height: 280px;
    }
  }
}

@include respond-above(lg) {
  .section__related-articles {
    .article-summary__content-wrapper {
      min-height: 240px;
    }
  }
}
