

//
//  ANIMATED SVG SPINER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.animated-svg-spinner {
  .circle-svg {
    max-width: 100px;
  }

  .circle-circle--basic {
    display: block;
    fill: $color-primary;
  }

  .circle-circle--stroked {
    fill: transparent;
    stroke: $color-primary;
    stroke-width: 6px;
  }

  .circle-svg--stroked {
    &:hover {
      background: $color-gray-e;
    }
  }

  // sm.
  .circle-svg--sm {
    max-width: 50px;
  }

  // 2x.
  .circle-svg--2x {
    max-width: 200px;
  }

  // Fat.
  .circle-circle--fat {
    stroke-width: 10px;
  }
}
