//
//  RUST SURVIVAL TIPS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$color-rust-red: #ce4837;
$color-rust-dark-gray: #232323;
$color-rust-light-gray: #a4a7a7;


//
//  SITE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.rust-survival-tips {
  .site-header {
    // background: $color-rust-red;
    // background: $color-rust-dark-gray;
    background: transparent;
    border-color: rgba($white, .1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .site-header__logo-svg .circle {
    // fill: darken($color-rust-red, 15%);
    // fill: $color-rust-red;
    // fill: transparent;
    // fill: darken($color-rust-dark-gray, 2%);
    // fill: lighten($color-rust-dark-gray, 5%);
    fill: $color-rust-dark-gray;
    // fill: rgba($white, .05);
    // fill: #2d2d33;
  }
     
  #g,
  #m {
    use {
      // fill: rgba($white, .15);
      // fill: $color-rust-red;
      // fill: $color-rust-dark-gray;
    }
  }
}


//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.rust-survival-tips {
  .section__page-header {
    background: $color-rust-dark-gray;

    .background-device {
      background: rgba($black, .3);

      .line {
        background: rgba($white, .125);
      }
    }
  }

  .article-header__featured-image {
    opacity: .2;
  }

  .article-header__date {
    background: $color-rust-red;
    box-shadow: 0 0 0 7px rgba($color-rust-red, .3);
    color: $color-rust-dark-gray;
  }

  .page-header__title {
    color: $color-rust-light-gray;
    color: $white;
  }
}
