

//
//  RUST MENU UI
//––––––––––––––––––––––––––––––––––––––––––––––––––

.rust-menu-ui {
  .article-body__full-bleed {
    background-color: #2b2925;
    text-align: center;

    img {
      margin-bottom: 0;
      max-width: 1400px;
      vertical-align: top;
    }
  }
}
