//
//  RUST SURVIVAL TIPS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$color-rust-red: #ce4837;
$color-rust-dark-gray: #232323;


//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.rust-survival-tips {
  .article-header__date {
    background-color: $color-rust-red;
    box-shadow: 0 0 0 7px rgba($color-rust-red, .3);
    color: $color-rust-dark-gray;
  }
}
