//
//  RUST SURVIVAL TIPS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$color-rust-red: #ce4837;
$color-rust-dark-gray: #232323;
$color-rust-light-gray: #a4a7a7;

.rust-survival-tips {
  .section__page-header {
    background: $color-rust-dark-gray;
  }
}
