//
//  RUST SURVIVAL TIPS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$color-rust-red: #ce4837;
$color-rust-dark-gray: #232323;
$color-rust-light-gray: #a4a7a7;


//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.rust-survival-tips {
  .section__page-header {
    background-color: $color-rust-dark-gray;
  }

  .article-header__featured-image {
    // opacity: .2;
  }

  .article-header__date {
    background-color: $color-rust-red;
    box-shadow: 0 0 0 7px rgba($color-rust-red, .3);
    color: $color-rust-dark-gray;
  }
}
