//
//  SCHECTER C-7 APOCALYPSE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-body__full-bleed {
  background-color: $color-gray-2;
  margin-bottom: -1px;
  padding-bottom: $gutter * 2;
}
