

//
//  DARK BG VARS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-color-dark: rgba($white, .75);

$link-font-color-dark: rgba($white, .9);
$link-font-color-hover-dark: rgba($white, 1);

$heading-font-color-dark: $white;
