

//
//  TYPOGRAPHY VARS
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  COLOR
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-color: $color-gray-4;

$link-font-color: lighten($color-blue, 7.5%);
$link-font-color-hover: lighten($link-font-color, 5%);

$heading-font-color: $base-font-color;
$heading-link-font-color: $link-font-color;
$heading-link-font-color-hover: darken($heading-link-font-color, 5%);

$small-font-color: $color-gray-8;


//
//  FONT FAMILIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-line-height: 1.7;
$base-margin-bottom-xs: $base-font-size * $base-line-height;
$base-margin-bottom: $base-font-size * ($base-line-height * 1.5);

$heading-font-family: 'Volkhov', Georgia, Palatino, Garamond, Bookman, sans-serif;


//
//  HEADING SIZES, WEIGHTS, ETC
//––––––––––––––––––––––––––––––––––––––––––––––––––

$heading-line-height: 1.5;
$heading-font-weight: bold;
$heading-text-transform: none;    // Default = none
$heading-letter-spacing: -.025em;  // Default = normal
$heading-margin-bottom-xs: $base-margin-bottom-xs;
$heading-margin-bottom: $base-margin-bottom;

$h1-font-size-sm: rem(32px);
$h1-font-size: rem(48px);
$h1-font-size-lg: rem(60px);
$h1-font-family: $heading-font-family;

$h2-font-size-sm: rem(28px);
$h2-font-size: rem(36px);
$h2-font-family: $heading-font-family;

$h3-font-size-sm: rem(24px);
$h3-font-size: rem(28px);
$h3-font-family: $heading-font-family;

$h4-font-size-sm: rem(21px);
$h4-font-size: rem(24px);
$h4-font-family: $heading-font-family;

$h5-font-size-sm: rem(18px);
$h5-font-size: rem(20px);
$h5-font-family: $base-font-family;

$h6-font-size: rem($base-font-size);
$h6-font-family: $base-font-family;


//
//  GENERAL SIZES, WEIGHTS, ETC
//––––––––––––––––––––––––––––––––––––––––––––––––––

$lead-font-size-sm: rem(21px);
$lead-font-size: rem(28px);
$lead-line-height: 1.5;

$small-font-size: rem($base-font-size * .85);

$blockquote-font-size-xs: rem(18px);
$blockquote-font-size-sm: rem(21px);
$blockquote-font-size-md: rem(24px);
$blockquote-font-size-lg: rem(26px);

$hr-color: $color-gray-e;


//
//  SITE CONTENT FONT SIZES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$site-content-font-size-xs: rem(18px);
$site-content-font-size-sm: rem(21px);
