

//
//  ABOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  LAST FM PERIOD NAV
//––––––––––––––––––––––––––––––––––––––––––––––––––

.last-fm-period {
  margin-bottom: $gutter * 2;
}

.last-fm-period__list-item {
  display: inline-block;
}

.last-fm-period__link {
  border-bottom: 3px solid $color-gray-e;
  color: $color-gray-a;
  display: block;
  font-size: rem(12px);
  padding: ($gutter * .25) ($gutter * .5);
  transition: all .2s ease;
}

.last-fm-period__list-item {
  &.-is-current {
    .last-fm-period__link {
      border-bottom-color: $color-primary;
      color: $color-primary;
    }
  }
}

@include respond-above(xs) {
  .last-fm-period__link {
    font-size: rem(14px);
  }
}

@include respond-above(sm) {
  .last-fm-period__link {
    font-size: rem(16px);
    padding: ($gutter * .5) $gutter;

    &:hover {
      border-bottom-color: $color-primary;
      color: $color-primary;
    }
  }
}


//
//  LAST FM ARTIST
//––––––––––––––––––––––––––––––––––––––––––––––––––

$last-fm-artist-rank-size: 35px;

.last-fm-artist {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 2px;
  color: $white;
  display: block;
  height: 200px;
  margin-bottom: $gutter;
  padding: $gutter;
  position: relative;
  transition: all .2s ease;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    text-decoration: none;
  }

  // &.last-fm-artist--appear {
  //   opacity: 0;
  //   transform: scale(.975);
  // }

  // &.last-fm-artist--appear-active {
  //   transform: scale(1);
  //   opacity: 1;
  // }
}

@include respond-above(xs) {
  .last-fm-artist {
    height: 230px;
    margin-bottom: $gutter * 2;
  }
}

@include respond-above(sm) {
  .last-fm-artist {
    height: 320px;
  }
}

@include respond-above(md) {
  .last-fm-artist {
    height: 280px;
  }
}

@include respond-above(lg) {
  .last-fm-artist {
    height: 245px;
  }
}


//
//  RANK
//––––––––––––––––––––––––––––––––––––––––––––––––––

.last-fm-artist__rank {
  background: $color-primary;
  border-radius: 2px;
  bottom: $gutter * 2;
  font-family: $heading-font-family;
  font-size: rem(16px);
  font-weight: bold;
  height: $last-fm-artist-rank-size;
  left: 0;
  line-height: $last-fm-artist-rank-size;
  position: absolute;
  text-align: center;
  transform: translateX(-25%);
  width: $last-fm-artist-rank-size;
  z-index: 1;
}

@include respond-above(xs) {
  .last-fm-artist__rank {
    transform: translateX(-50%);
  }
}


//
//  META
//––––––––––––––––––––––––––––––––––––––––––––––––––

.last-fm-artist__meta {
  bottom: $gutter;
  left: 0;
  padding-left: $gutter * 2.5;
  padding-right: $gutter;
  position: absolute;
  z-index: 1;
  width: 100%;
}

@include respond-above(sm) {
  .last-fm-artist__meta {
    padding-left: $gutter * 2;
  }
}


//
//  NAME
//––––––––––––––––––––––––––––––––––––––––––––––––––

.last-fm-artist__name {
  color: $white;
  line-height: 1.1;
  margin-bottom: 0;
}


//
//  PLAY COUNT
//––––––––––––––––––––––––––––––––––––––––––––––––––

.last-fm-artist__play-count {
  color: rgba($white, .5);
  font-size: rem(14px);
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: .05em;
}


//
//  IMAGE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.last-fm-artist__image {
  display: none;
  max-width: 100%;
}


//
//  BACKGROUND IMAGE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.last-fm-artist__background-image {
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


//
//  OVERLAY
//––––––––––––––––––––––––––––––––––––––––––––––––––

.last-fm-artist__overlay {
  background-image: linear-gradient(180deg, rgba($black, 0), rgba($black, .9));
  height: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}


//
//  LAST FM ARTIST PLACEHOLDER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.last-fm-artist {
  &.-is-placeholder {
    background-color: $color-gray-e;

    .last-fm-artist__rank {
      background-color: $color-gray-c;
    }

    .last-fm-artist__name {
      background-color: $color-gray-d;
      height: 1em;
      margin-bottom: $gutter;
      width: 90%;
    }

    .last-fm-artist__play-count {
      background-color: $color-gray-d;
      height: 1em;
      width: 25%;
    }
  }
}
