

//
//  CATEGORY - DEVELOPMENT
//––––––––––––––––––––––––––––––––––––––––––––––––––

$page-header-bg-development: #233624;

$page-header-development-icon-color: #5dc562;
$page-header-development-icon-shadow: darken($page-header-development-icon-color, 25%);


//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.category-development {
  .section__page-header {
    background-color: $page-header-bg-development;
    background-image: url('/img/uploads/featured/featured-image-category-development.png');
    // background-position: 50% -40%;
    background-size: cover;
  }

  .page-header__icon {
    background-color: $page-header-bg-development;
    // background-color: transparent;
    // border-color: transparent;
  }

  .page-header__icon-wrapper {
    // color: $white;
    color: $page-header-development-icon-color;
    font-size: rem(40px);
    font-family: $heading-font-family;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -.075em;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 4px 0 $page-header-development-icon-shadow;
    text-shadow: 0 1px 0 $page-header-development-icon-shadow,
                 0 2px 0 $page-header-development-icon-shadow,
                 0 3px 0 $page-header-development-icon-shadow,
                 0 4px 0 $page-header-development-icon-shadow;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    // width: 100%;
  }
}

@include respond-above(xs) {
  .category-development {
    .page-header__icon-wrapper {
      font-size: rem(56px);
    }
  }
}

@include respond-above(sm) {
  .category-development {
    .page-header__icon-wrapper {
      // font-size: rem(60px);
    }
  }
}

@include respond-above(lg) {
  .category-development {
    .page-header__icon-wrapper {
      font-size: rem(64px);
    }
  }
}
