//
//  CATEGORY - NBA
//––––––––––––––––––––––––––––––––––––––––––––––––––

@use "sass:color";

// $page-header-bg-nba: #a93f25; // Spalding orange.
$page-header-bg-nba: #802e1a; // Spalding orange (darker).

$page-header-nba-icon-color: color.adjust($page-header-bg-nba, $lightness: 25%);
$page-header-nba-icon-shadow: color.adjust(
  $page-header-nba-icon-color,
  $lightness: -35%
);

//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.category-nba {
  .section__page-header {
    background-color: $page-header-bg-nba;
    background-image: url("/img/uploads/featured-image-category-nba.png");
  }

  .page-header__icon {
    background-color: $page-header-bg-nba;
    border-color: $page-header-bg-nba;
  }

  .section__page-header {
    .page-header__background-device {
      .line {
        background-color: $page-header-bg-nba;
      }
    }
  }

  // Make sure NBA is all uppercase.
  .page-header__title {
    text-transform: uppercase;
  }
}

//
//  BASKETBALL ICON
//––––––––––––––––––––––––––––––––––––––––––––––––––

.category-nba {
  .page-header__icon {
    background: $page-header-bg-nba;

    .basketball {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .outlines {
        path {
          fill: $page-header-nba-icon-color;
        }
      }

      .lines {
        fill: transparent;
      }

      &.basketball-shadow {
        top: 3px;

        .outlines {
          path {
            fill: $page-header-nba-icon-shadow;
          }
        }

        .lines {
          fill: transparent;
        }
      }
    }
  }
}

//
//  BASKETBALL COURT ICON
//––––––––––––––––––––––––––––––––––––––––––––––––––

// .category-nba {
//   .page-header__icon {
//     .basketball-court {
//       position: absolute;
//       top: 0;
//       width: 200px;
//       left: 50%;
//       transform: translateX(-50%);

//       .three-point-line,
//       .top-of-key,
//       .bottom-of-key,
//       .key,
//       .key-line {
//         fill: transparent;
//         stroke: rgba($white, .2);
//         stroke-width: 4px;
//       }
//     }
//   }
// }
