

//
//  CATEGORY - NBA
//––––––––––––––––––––––––––––––––––––––––––––––––––

$color-nba-red: #c61633;
$color-nba-blue: #204488;

$page-header-bg-nba: darken($color-nba-red, 15%); // Darken.
$page-header-bg-nba: desaturate($page-header-bg-nba, 20%); // Desaturate.

$page-header-background-device-nba: darken($color-nba-blue, 15%);
$page-header-background-device-nba: desaturate($page-header-background-device-nba, 20%);


//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.category-nba {
  .section__page-header {
    background-color: $page-header-bg-nba;
  }

  .page-header__icon {
    // background-color: $page-header-bg-nba;
    // background-color: $white;
    background-color: #545e70;
    // background: transparent;
    border-color: transparent;
  }
  
  .section__page-header {
    .page-header__background-device {
      background-color: $page-header-background-device-nba;

      .line {
        background-color: rgba($white, .25);
      }
    }
  }
  
  // Make sure NBA is all uppercase.
  .page-header__title {
    text-transform: uppercase;
  }
}
