

//
//  CATEGORY - NBA
//––––––––––––––––––––––––––––––––––––––––––––––––––

$color-nba-red: #c61633;
$color-nba-blue: #204488;

$page-header-bg-nba: darken($color-nba-red, 15%); // Darken.
$page-header-bg-nba: desaturate($page-header-bg-nba, 20%); // Desaturate.

$page-header-bg-nba: #a93f25; // Spalding orange.
$page-header-bg-nba: #802e1a; // Spalding orange (darker).

$page-header-background-device-nba: darken($color-nba-blue, 15%);
$page-header-background-device-nba: desaturate($page-header-background-device-nba, 20%);


//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.category-nba {
  .section__page-header {
    background-color: $page-header-bg-nba;
    background-image: url('/img/uploads/featured/featured-image-category-nba.png');
  }

  .page-header__icon {
    background-color: $page-header-bg-nba;
    border-color: $page-header-bg-nba;
    // border: 0;
    // background-color: $white;
    // background-color: #545e70;
    // background: transparent;
    // border-color: transparent;
  }
  
  .section__page-header {
    .page-header__background-device {
      // background-color: $page-header-background-device-nba;

      .line {
        // background-color: rgba($white, .25);
        background-color: $page-header-bg-nba;
      }
    }
  }
  
  // Make sure NBA is all uppercase.
  .page-header__title {
    text-transform: uppercase;
  }
}


//
//  BASKETBALL ICON
//––––––––––––––––––––––––––––––––––––––––––––––––––

.category-nba {
  .page-header__icon {    
    background: $page-header-bg-nba;

    .basketball {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      // transform: rotateZ(-45deg);
      width: 100%;

      .outlines {
        path {
          fill: lighten($page-header-bg-nba, 25%);
        }
      }

      .lines {
        fill: $page-header-bg-nba;
        // fill: darken($page-header-bg-nba, 12.5%);
        // fill: lighten($page-header-bg-nba, 25%);
        // fill: transparent;
      }
    }
  }
}


//
//  BASKETBALL COURT ICON
//––––––––––––––––––––––––––––––––––––––––––––––––––

// .category-nba {
//   .page-header__icon {
//     .basketball-court {
//       position: absolute;
//       top: 0;
//       width: 200px;
//       left: 50%;
//       transform: translateX(-50%);

//       .three-point-line,
//       .top-of-key,
//       .bottom-of-key,
//       .key,
//       .key-line {
//         fill: transparent;
//         stroke: rgba($white, .2);
//         stroke-width: 4px;
//       }
//     }
//   }
// }
