

//
//  HOME
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  ARTICLE SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––

.page-home {
  .section__articles-summary {
    // padding-top: $site-header-height-sm;
  }
}

@include respond-above(sm) {
  .page-home {
    .section__articles-summary {
      // padding-top: $site-header-height-md;
    }
  }  
}

@include respond-above(md) {
  .page-home {
    .section__articles-summary {
      // padding-top: $site-header-height-lg;
    }
  }  
}
