

//
//  PHOTOGRAPHY
//––––––––––––––––––––––––––––––––––––––––––––––––––

$photography-grid-padding: $gutter;

.section__photography-summary {
  background-color: $color-gray-1;
  padding-bottom: $photography-grid-padding;
  padding-top: $photography-grid-padding;
}
