//
//  SINGLE ARTICLE
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$article-font-size-xs: rem(18px);
$article-font-size-sm: rem(21px);


//
//  DATE
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-below(xs) {
  .article-header__date {
    height: 50px;
    // padding: 8px;
    transform: translateY(0) translateX(26px);
    top: $gutter*6 + $site-header-height-sm;
    width: 50px;
  }

  .article-header__date-month {
    font-size: rem(10px);
  }

  .article-header__date-day {
    font-size: rem(24px);
  }

  // .-has-transparent-site-header {
  //   .article-header__date {
  //     top: $gutter*6 + $site-header-height-sm;
  //   }
  // }
}

@include respond-above(xs) {
  .article-header__date {
    top: $gutter*8 + $site-header-height-sm;
    transform: translateY(0) translateX(16px);
  }

  // .-has-transparent-site-header {
  //   .article-header__date {
  //     top: $gutter*8 + $site-header-height-sm;
  //   }
  // }
}

@include respond-above(sm) {
  .article-header__date {
    top: $gutter*10 + $site-header-height-md;
    // transform: translateY(0) translateX(12px);
  }

  // .-has-transparent-site-header {
  //   .article-header__date {
  //     top: $gutter*10 + $site-header-height-md;
  //   }
  // }
}

@include respond-above(md) {
  .article-header__date {
    top: $gutter*12 + $site-header-height-lg;
    // transform: translateY(0) translateX(12px);
  }

  // .-has-transparent-site-header {
  //   .article-header__date {
  //     top: $gutter*12 + $site-header-height-lg;
  //   }
  // }
}

@include respond-above(lg) {
  .article-header__date {
    height: 80px;
    padding: $gutter;
    transform: translateY(0) translateX(11px);
    top: $gutter*16 + $site-header-height-lg;
    width: 80px;
  }

  // .-has-transparent-site-header {
  //   .article-header__date {
  //     top: $gutter*16 + $site-header-height-lg;
  //   }
  // }

  .article-header__date-month {
    font-size: rem(14px);
    // letter-spacing: rem(2px);
  }

  .article-header__date-day {
    font-size: rem(40px);
  }

  // .article-header__date-year {
  //   font-size: rem(14px);
  // }
}


//
//  BACKGROUND DEVICE
//––––––––––––––––––––––––––––––––––––––––––––––––––

// .section__article-header {
//   .background-device {
//     background: transparent;
//     height: 50%;
//   }
// }


//
//  ARTICLE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section__article-header {
  // background-color: $color-secondary;
  // background-color: $color-primary-lighter;
  position: relative;
  padding: 0;

  &.-has-featured {
    background-size: cover;
  }
}

.article-header__hgroup {
  padding: ($gutter*6 + $site-header-height-sm) 0 $gutter*3;
  position: relative;
  z-index: 2;
}

// .-has-transparent-site-header {
//   .article-header__hgroup {
//     padding: ($gutter*6 + $site-header-height-sm) 0 $gutter*3;
//   }
// }

.article-header__title {
  margin-bottom: $gutter;
}

@include respond-above(xs) {
  .article-header__hgroup {
    padding: ($gutter*8 + $site-header-height-sm) 0 $gutter*4;
  }

  // .-has-transparent-site-header {
  //   .article-header__hgroup {
  //     padding: ($gutter*8 + $site-header-height-sm) 0 $gutter*4;
  //   }
  // }
}

@include respond-above(sm) {
  .article-header__hgroup {
    padding: ($gutter*10 + $site-header-height-md) 0 $gutter*5;
  }
  
  // .-has-transparent-site-header {
  //   .article-header__hgroup {
  //     padding: ($gutter*10 + $site-header-height-md) 0 $gutter*5;
  //   }
  // }
}

@include respond-above(md) {
  .article-header__hgroup {
    padding: ($gutter*12 + $site-header-height-lg) 0 $gutter*6;
  }

  // .-has-transparent-site-header {
  //   .article-header__hgroup {
  //     padding: ($gutter*12 + $site-header-height-lg) 0 $gutter*6;
  //   }
  // }
}

@include respond-above(lg) {
  .article-header__hgroup {
    padding: ($gutter*16 + $site-header-height-lg) 0 $gutter*8;
  }

  // .-has-transparent-site-header {
  //   .article-header__hgroup {
  //     padding: ($gutter*16 + $site-header-height-lg) 0 $gutter*6;
  //   }
  // }
}


//
//  CATEGORIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-header__categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Add a comma after every category besides the last one.
.article-header__category-link {
  font-size: rem(14px);
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;

  &:after {
    content: ',';
  }
}

.article-header__category {
  display: inline-block;

  // Hide comma for last category.
  &:last-of-type {
    .article-header__category-link {
      &:after {
        content: '';
      }
    }
  }
}

.section__article-header {
  &.-has-dark-bg {
    .article-header__category-link {
      color: rgba($white, .3);
    }
  }
}


//
//  ARTICLE BODY
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-below(sm) {
  .section__article-body {
    .row {
      padding-left: $gutter * 2;
      padding-right: $gutter * 2;
    }
  }
}

.article-body {
  p {
    font-size: $article-font-size-xs;

    &.lead {
      font-size: rem(21px);
    }

    small {
      a {
        text-decoration: none;
      }
    }
  }

  ul,
  ol {
    font-size: $article-font-size-xs;
    margin-bottom: $base-margin-bottom-xs;
    margin-left: $gutter * 2;

    li {
      margin-bottom: $base-margin-bottom-xs / 8;
    }
  }

  p,
  ul,
  ol {
    a {
      border-bottom: 2px solid $color-gray-e;
      transition: all .1s ease;

      &:hover {
        border-bottom: 2px solid $link-font-color-hover;
        text-decoration: none;
      }
    }
  }

  blockquote {
    font-size: $article-font-size-xs;
  }
}

@include respond-above(xs) {
  .article-body {
    p {
      font-size: $article-font-size-sm;

      &.lead {
        font-size: $lead-font-size;
      }
    }

    ul,
    ol {
      font-size: $article-font-size-sm;
      margin-bottom: $base-margin-bottom;

      li {
        margin-bottom: $base-margin-bottom / 8;
      }
    }

    blockquote {
      font-size: $article-font-size-sm;
    }
  }
}


//
//  ARTICLE FULL BLEED
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-body__full-bleed {
  margin-bottom: $base-margin-bottom-xs;

  img {
    width: 100%;
  }
}

@include respond-above(xs) {
  .article-body__full-bleed {
    margin-bottom: $base-margin-bottom;
  }
}