

//
//  SINGLE PHOTOGRAPHY
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  SECTION
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__section {
  background-color: $color-primary-darkest;
  min-height: 250px;
  padding-top: $site-header-height-xs;
  padding-bottom: 0;
  text-align: center;
}

@include respond-above(xs) {
  .single-photography__section {
    padding-top: $site-header-height-sm;
    min-height: 200px;
  }
}

@include respond-above(sm) {
  .single-photography__section {
    padding-top: $site-header-height-md;
    min-height: 300px;
  }
}

@include respond-above(md) {
  .single-photography__section {
    min-height: 400px;
    padding-top: $site-header-height-lg;
  }
}

@include respond-above(lg) {
  .single-photography__section {
    min-height: 500px;
    padding-top: $site-header-height-xl;
  }
}


//
//  FIGURE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__figure {
  box-shadow: 0 3px 50px rgba($black, 0.5);
  box-shadow: 0 3px 50px rgba($black, 0.6), 0 1px 5px rgba($black, 0.2);
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  vertical-align: top;
}


//
//  PHOTO
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__photo {
  display: block;
  height: auto;
  margin-bottom: 0;
  max-width: 100%;
}

@include respond-above(lg) {
  .single-photography__photo {
    margin-left: auto;
    margin-right: auto;
  }
}


//
//  FIGCAPTION
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__figcaption {
  background-color: $color-primary-darkest;
  border-top: 1px solid rgba($white, 0.1);
  padding: $gutter;
  width: 100%;
}

@include respond-above(sm) {
  .single-photography__figcaption {
    background-color: rgba($black, 0.3);
    bottom: 0;
    left: 0;
    padding: $gutter * 2;
    position: absolute;
  }
}


//
//  META
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__meta {
  position: relative;
  z-index: $z-index-single-photography-meta;
  text-align: left;
}

@include respond-above(lg) {
  .single-photography__meta {
    max-width: 1520px;
    margin-left: auto;
    margin-right: auto;
  }
}


//
//  DATE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__date {
  color: rgba($white, 0.5);
  display: block;
  font-size: rem(12px);
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}



//
//  TITLE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__title {
  color: rgba($white, 0.8) !important;
  font-size: $h3-font-size-sm;
  margin-bottom: 0;
}

@include respond-above(sm) {
  .single-photography__title {
    font-size: $h3-font-size;
  }
}


//
//  DESCRIPTION
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__description {
  p {
    color: rgba($white, 0.5);
    margin-bottom: 0;
  }
}


//
//  BACKGROUND DEVICE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__background-device {
  display: none;
}

@include respond-above(sm) {
  .single-photography__background-device {
    background: linear-gradient(20deg, rgba($black, 0.8) 0%, rgba($black, 0) 70%);
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $z-index-single-photography-background-device;
  }
}


//
//  POST NAV
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__post-nav {
  background: rgba($black, 0.7);
  bottom: 0;
  display: none;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  transition: all 0.2s ease;
  width: 10%;
  z-index: $z-index-single-photography-post-nav;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
  
  &:hover {
    opacity: 1;
  }
}

.single-photography__post-nav--prev {
  border-right: 1px solid rgba($black, 0.5);
  left: 0;
}

.single-photography__post-nav--next {
  border-left: 1px solid rgba($black, 0.5);
  right: 0;
}

@include respond-above(sm) {
  .single-photography__post-nav {
    display: block;
  }
}

@include respond-above(md) {
  .single-photography__post-nav {
    width: 15%;
  }
}


//
//  POST NAV ICON
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-photography__post-nav-icon {
  font-family: $heading-font-family;
  font-size: rem(48px);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
