//
//  SINGLE ARTICLE
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  TYPOGRAPHY
//––––––––––––––––––––––––––––––––––––––––––––––––––

$article-font-size-xs: rem(18px);
$article-font-size-sm: rem(21px);


//
//  LAYOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Article header.
$article-header-padding-top-xs: $gutter*6 + $site-header-height-sm;
$article-header-padding-bottom-xs: $gutter*3;

$article-header-padding-top-sm: $gutter*8 + $site-header-height-sm;
$article-header-padding-bottom-sm: $gutter*4;

$article-header-padding-top-md: $gutter*10 + $site-header-height-md;
$article-header-padding-bottom-md: $gutter*5;

$article-header-padding-top-lg: $gutter*12 + $site-header-height-lg;
$article-header-padding-bottom-lg: $gutter * 6;

$article-header-padding-top-xl: $gutter*16 + $site-header-height-lg;
$article-header-padding-bottom-xl: $gutter * 6;


//
//  ARTICLE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section__article-header {
  position: relative;
  padding: 0;

  &.-has-featured {
    background-size: cover;
  }
}

.article-header__hgroup {
  padding: $article-header-padding-top-xs 0 $article-header-padding-bottom-xs;
  position: relative;
  z-index: 2;
}

.article-header__title {
  margin-bottom: $gutter;
}

@include respond-above(xs) {
  .article-header__hgroup {
    padding: $article-header-padding-top-sm 0 $article-header-padding-bottom-sm;
  }
}

@include respond-above(sm) {
  .article-header__hgroup {
    padding: $article-header-padding-top-md 0 $article-header-padding-bottom-md;
  }
}

@include respond-above(md) {
  .article-header__hgroup {
    padding: $article-header-padding-top-lg 0 $article-header-padding-bottom-lg;
  }
}

@include respond-above(lg) {
  .article-header__hgroup {
    padding: $article-header-padding-top-xl 0 $article-header-padding-bottom-xl;
  }
}


//
//  DATE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-header__date {
  left: 0;
  top: 50%;
  position: absolute;
  transform: translateX(20px);
}

.section__page-header {
  .article-header__date {
    box-shadow: 0 0 0 7px rgba($white, .1);
  }
}

@include respond-below(xs) {
  .article-header__date {
    height: 50px;
    // padding: 8px;
    // transform: translateY(0) translateX(16px);
    top: $gutter*6 + $site-header-height-sm;
    width: 50px;
  }

  .article-header__date-month {
    font-size: rem(10px);
  }

  .article-header__date-day {
    font-size: rem(24px);
  }
}

@include respond-above(xs) {
  .article-header__date {
    top: $gutter*8 + $site-header-height-sm;
    transform: translateX(16px);
  }
}

@include respond-above(sm) {
  .article-header__date {
    top: $gutter*10 + $site-header-height-md;
    // transform: translateY(0) translateX(12px);
  }
}

@include respond-above(md) {
  .article-header__date {
    top: $gutter*12 + $site-header-height-lg;
  }
}

@include respond-above(lg) {
  .article-header__date {
    height: 80px;
    padding: $gutter*.75;
    top: $gutter*16 + $site-header-height-lg;
    transform: translateX(11px);
    width: 80px;
  }

  .article-header__date-month {
    font-size: rem(14px);
    // letter-spacing: rem(2px);
  }

  .article-header__date-day {
    font-size: rem(40px);
  }
}


//
//  CATEGORIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-header__categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Add a comma after every category besides the last one.
.article-header__category-link {
  font-size: rem(14px);
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;

  &:after {
    content: ',';
  }
}

.article-header__category {
  display: inline-block;

  // Hide comma for last category.
  &:last-of-type {
    .article-header__category-link {
      &:after {
        content: '';
      }
    }
  }
}

.section__article-header {
  &.-has-dark-bg {
    .article-header__category-link {
      color: rgba($white, .3);
    }
  }
}


//
//  ARTICLE BODY
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-below(sm) {
  .section__article-body {
    .row {
      padding-left: $gutter * 2;
      padding-right: $gutter * 2;
    }
  }
}

.article-body {
  p {
    font-size: $article-font-size-xs;

    &.lead {
      font-size: rem(24px);
    }

    small {
      a {
        text-decoration: none;
      }
    }
  }

  img {
    margin-bottom: $base-margin-bottom-xs;
  }

  ul,
  ol {
    font-size: $article-font-size-xs;
    margin-bottom: $base-margin-bottom-xs;
    margin-left: $gutter * 2;

    li {
      margin-bottom: $base-margin-bottom-xs / 8;
    }
  }

  p,
  ul,
  ol {
    a {
      border-bottom: 2px solid $color-gray-e;
      transition: all .1s ease;

      &:hover,
      &:active,
      &:focus {
        border-bottom: 2px solid $link-font-color-hover;
        text-decoration: none;
      }
    }
  }

  blockquote {
    font-size: $article-font-size-xs;
  }
}

@include respond-above(xs) {
  .article-body {
    p {
      font-size: $article-font-size-sm;

      &.lead {
        font-size: $lead-font-size;
      }
    }

    img {
      margin-bottom: $base-margin-bottom;
    }

    ul,
    ol {
      font-size: $article-font-size-sm;
      margin-bottom: $base-margin-bottom;

      li {
        margin-bottom: $base-margin-bottom / 8;
      }
    }

    blockquote {
      font-size: $article-font-size-sm;
    }
  }
}


//
//  ARTICLE FULL BLEED
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-body__full-bleed {
  // margin-bottom: $base-margin-bottom-xs;

  img {
    width: 100%;
  }
}

@include respond-above(xs) {
  .article-body__full-bleed {
    // margin-bottom: $base-margin-bottom;
  }
}
