

//
//  WORK
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.work-works {
  .section__page-header {
    // Something.
  }
}


//
//  FITBUGG
//––––––––––––––––––––––––––––––––––––––––––––––––––

$color-fitbugg-blue: #085ab5;
$color-fitbugg-blue-lighter: lighten($color-fitbugg-blue, 10%);
$color-fitbugg-blue-darker: darken($color-fitbugg-blue, 5%);

.section__work-summary {
  &.fitbugg {
    background-color: $color-fitbugg-blue;
    background: radial-gradient(500px circle at 75% 50%, rgba($color-fitbugg-blue-lighter, 1) 0%, rgba($color-fitbugg-blue-darker, 1) 100%);
    box-shadow: inset 0 -10px 50px rgba($black, .05);
  }
}