{{ partial "head/head" . }}

<body class="{{ .Title | urlize }} work-{{ .Title | urlize }}">

  {{ partial "header" . }}

  {{ partial "page-header" . }}

        
    {{ $paginator := .Paginate (where .Data.Pages "Type" "work") }}

    {{ $.Scratch.Set "i" 1 }}

    {{ range $paginator.Pages }}

      <section class="section section__work-summary section__work-summary--{{ $.Scratch.Get "i" }}{{ with .Params.custom_class }} {{ . }}{{ end }}{{ with .Params.summary_dark_Bg }} -has-dark-bg{{ end }}">

        {{ partial "work-summary" . }}
        
      </section><!-- .section__work-summary -->

      {{ $.Scratch.Add "i" 1 }}

    {{ end }}

    {{ partial "pagination.html" . }}


  {{ partial "footer" . }}

{{ partial "foot" . }}
  
</body>