{{ partial "head" . }}

<body class="single-work {{ with .Params.custom_class }} {{ . }}{{ end }}{{ with .Params.transparent_header }} -has-transparent-site-header{{ end }}">

  {{ partial "header" . }}

  {{ partial "page-header" . }}

  
  <section class="section section__work-body">
    <article class="work-body">
      <div class="work-body__content">
        {{ .Content }}
      </div>
    </article><!-- .work-body -->
  </section><!-- .section__work-body -->


  {{ partial "footer" . }}

{{ partial "foot" . }}

</body>