

//
//  COLOR
//––––––––––––––––––––––––––––––––––––––––––––––––––


// Basics
$black: #000;
$white: #fff;
$color-blue: #284c71;


// Grays
$gray-mixer: $color-blue;
$color-gray-f: mix(#f6f6f6, $gray-mixer, 97%);
$color-gray-e: mix(#eee, $gray-mixer, 90%);
$color-gray-d: mix(#ddd, $gray-mixer, 90%);
$color-gray-c: mix(#ccc, $gray-mixer, 90%);
$color-gray-b: mix(#bbb, $gray-mixer, 90%);
$color-gray-a: mix(#aaa, $gray-mixer, 90%);
$color-gray-9: mix(#999, $gray-mixer, 90%);
$color-gray-8: mix(#888, $gray-mixer, 90%);
$color-gray-7: mix(#777, $gray-mixer, 90%);
$color-gray-6: mix(#666, $gray-mixer, 89%);
$color-gray-5: mix(#555, $gray-mixer, 88%);
$color-gray-4: mix(#444, $gray-mixer, 87%);
$color-gray-3: mix(#333, $gray-mixer, 86%);
$color-gray-2: mix(#222, $gray-mixer, 85%);
$color-gray-1: mix(#111, $gray-mixer, 85%);


// Utility colors
// $color-primary: $color-blue;
// $color-primary: mix(#333, $gray-mixer, 60%);
$color-primary: #2f3d4c;
// $color-primary-darker: #212f3d;
// $color-primary-lighter: #23609e;
$color-primary-darker: darken($color-primary, 5%);
$color-primary-darkest: darken($color-primary, 10%);

$color-primary-lighter: lighten($color-primary, 5%);
$color-primary-lightest: lighten($color-primary, 10%);

$color-secondary: #ff851b;
