//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


//
//  RESPOND ABOVE
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-above(md) {}
@mixin respond-above($breakpoint) {
  @if $breakpoint == 'xs' {
    @media (min-width: $breakpoint-xs) {
      @content;
    }
  } @else if $breakpoint == 'sm' {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}


//
//  RESPOND BELOW
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-below(md) {}
@mixin respond-below($breakpoint) {
  @if $breakpoint == 'xs' {
    @media (max-width: ($breakpoint-xs - 1)) {
      @content;
    }
  } @else if $breakpoint == 'sm' {
    @media (max-width: ($breakpoint-sm - 1)) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media (max-width: ($breakpoint-md - 1)) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media (max-width: ($breakpoint-lg - 1)) {
      @content;
    }
  }
}
