//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-size: 16px;
$gutter: 15px;

// Header.
$site-header-height-sm: 57px;
$site-header-height-md: 67px;
$site-header-height-lg: 67px;
