

//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-size: 16px;
$gutter: 20px;

// Header.
$site-header-height-xs: 57px;
$site-header-height-sm: 57px;
$site-header-height-md: 67px;
$site-header-height-lg: 67px;
$site-header-height-xl: 67px;


//
//  ABSTRACTS
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'abstracts/color';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/media-queries';
@import 'abstracts/z-index';


//
//  BASE
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'base/typography.vars';


//
//  LAYOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'layout/footer.vars';
@import 'layout/header.vars';
@import 'layout/section.vars';
@import 'layout/site-nav.vars';
@import 'layout/site-nav-children.vars';


//
//  COMPONENTS
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'components/buttons.vars';
@import 'components/forms.vars';
@import 'components/page-header.vars';
@import 'components/page-header-icon.vars';
