

//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-size: 16px;
$gutter: 20px;

// Header.
$site-header-height-xs: 57px;
$site-header-height-sm: 57px;
$site-header-height-md: 67px;
$site-header-height-lg: 67px;
$site-header-height-xl: 67px;
