//
//  Z-INDEX
//––––––––––––––––––––––––––––––––––––––––––––––––––

$z-index-site-nav-mobile: 10;
$z-index-site-header-logo-mobile: 20;

$z-index-site-header: 3;
$z-index-site-header-logo: 4;

$z-index-background-device: 2;
