

//
//  Z-INDEX
//––––––––––––––––––––––––––––––––––––––––––––––––––

$z-index-site-nav-mobile: 200;
$z-index-site-header-logo-mobile: 210;

$z-index-site-header: 100;
$z-index-site-header-logo: 110;

$z-index-background-device: 2;
$z-index-article-date: 3;
