

//
//  Z-INDEX
//––––––––––––––––––––––––––––––––––––––––––––––––––

$z-index-site-nav-mobile: 200;
$z-index-site-header-logo-mobile: 210;

$z-index-site-header: 100;
$z-index-site-header-logo: 110;
$z-index-site-header-logo-svg: 115;
$z-index-site-header-logo-shadow: 111;


// Background device.
$z-index-page-header-container: 1;
$z-index-background-device: 2;
$z-index-article-date: 3;
$z-index-page-header-icon: 3;

// Single photography
$z-index-single-photography-post-nav: 1;
$z-index-single-photography-background-device: 4;
$z-index-single-photography-meta: 5;