//
//  FOOTER
//––––––––––––––––––––––––––––––––––––––––––––––––––

// This file contains all styles related to the footer of the site/application.

.site-footer {
  background: #eee;
  padding: $gutter*4 0;
  text-align: center;
}
