

//
//  FOOTER VARS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$site-footer-font-color: rgba($white, .75);
$site-footer-bg-color: $color-primary;

$site-footer-bottom-bg-color: $color-primary-darker;
