//
//  FOOTER
//––––––––––––––––––––––––––––––––––––––––––––––––––

$footer-font-color: rgba($white, .75);
$footer-bg-color: $color-primary;

$footer-bottom-bg-color: darken($footer-bg-color, 5%);


//
//  STYLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.site-footer {
  background: $footer-bg-color;
  color: $footer-font-color;
  text-align: center;
}


//
//  FOOTER BOTTOM
//––––––––––––––––––––––––––––––––––––––––––––––––––

.site-footer__top {
  padding: $gutter*4 0;
}


//
//  FOOTER BOTTOM
//––––––––––––––––––––––––––––––––––––––––––––––––––

.site-footer__bottom {
  background: $footer-bottom-bg-color;
  padding: $gutter*4 0;
}
