//
//  BOOTSTRAP GRID
//––––––––––––––––––––––––––––––––––––––––––––––––––

@-ms-viewport {
  width: device-width;
}

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-md,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, 
.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
.col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col,
.col-sm,
.col-md,
.col-lg,
.col-xl {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto,
.col-sm-auto,
.col-md-auto,
.col-lg-auto,
.col-xl-auto {
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.col-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xl-1 {
  -webkit-flex: 0 0 8.33333%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xl-2 {
  -webkit-flex: 0 0 16.66667%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xl-3 {
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xl-4 {
  -webkit-flex: 0 0 33.33333%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xl-5 {
  -webkit-flex: 0 0 41.66667%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xl-6 {
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xl-7 {
  -webkit-flex: 0 0 58.33333%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xl-8 {
  -webkit-flex: 0 0 66.66667%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xl-9 {
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xl-10 {
  -webkit-flex: 0 0 83.33333%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xl-11 {
  -webkit-flex: 0 0 91.66667%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xl-12 {
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.pull-0,
.pull-sm-0,
.pull-md-0,
.pull-lg-0,
.pull-xl-0 {
  right: auto;
}

.pull-1,
.pull-sm-1,
.pull-md-1,
.pull-lg-1,
.pull-xl-1 {
  right: 8.33333%;
}

.pull-2,
.pull-sm-2,
.pull-md-2,
.pull-lg-2,
.pull-xl-2 {
  right: 16.66667%;
}

.pull-3,
.pull-sm-3,
.pull-md-3,
.pull-lg-3,
.pull-xl-3 {
  right: 25%;
}

.pull-4,
.pull-sm-4,
.pull-md-4,
.pull-lg-4,
.pull-xl-4 {
  right: 33.33333%;
}

.pull-5,
.pull-sm-5,
.pull-md-5,
.pull-lg-5,
.pull-xl-5 {
  right: 41.66667%;
}

.pull-6,
.pull-sm-6,
.pull-md-6,
.pull-lg-6,
.pull-xl-6 {
  right: 50%;
}

.pull-7,
.pull-sm-7,
.pull-md-7,
.pull-lg-7,
.pull-xl-7 {
  right: 58.33333%;
}

.pull-8,
.pull-sm-8,
.pull-md-8,
.pull-lg-8,
.pull-xl-8 {
  right: 66.66667%;
}

.pull-9,
.pull-sm-9,
.pull-md-9,
.pull-lg-9,
.pull-xl-9 {
  right: 75%;
}

.pull-10,
.pull-sm-10,
.pull-md-10,
.pull-lg-10,
.pull-xl-10 {
  right: 83.33333%;
}

.pull-11,
.pull-sm-11,
.pull-md-11,
.pull-lg-11,
.pull-xl-11 {
  right: 91.66667%;
}

.pull-12,
.pull-sm-12,
.pull-md-12,
.pull-lg-12,
.pull-xl-12 {
  right: 100%;
}

.push-0,
.push-sm-0,
.push-md-0,
.push-lg-0,
.push-xl-0 {
  left: auto;
}

.push-1,
.push-sm-1,
.push-md-1,
.push-lg-1,
.push-xl-1 {
  left: 8.33333%;
}

.push-2,
.push-sm-2,
.push-md-2,
.push-lg-2,
.push-xl-2 {
  left: 16.66667%;
}

.push-3,
.push-sm-3,
.push-md-3,
.push-lg-3,
.push-xl-3 {
  left: 25%;
}

.push-4,
.push-sm-4,
.push-md-4,
.push-lg-4,
.push-xl-4 {
  left: 33.33333%;
}

.push-5,
.push-sm-5,
.push-md-5,
.push-lg-5,
.push-xl-5 {
  left: 41.66667%;
}

.push-6,
.push-sm-6,
.push-md-6,
.push-lg-6,
.push-xl-6 {
  left: 50%;
}

.push-7,
.push-sm-7,
.push-md-7,
.push-lg-7,
.push-xl-7 {
  left: 58.33333%;
}

.push-8,
.push-sm-8,
.push-md-8,
.push-lg-8,
.push-xl-8 {
  left: 66.66667%;
}

.push-9,
.push-sm-9,
.push-md-9,
.push-lg-9,
.push-xl-9 {
  left: 75%;
}

.push-10,
.push-sm-10,
.push-md-10,
.push-lg-10,
.push-xl-10 {
  left: 83.33333%;
}

.push-11,
.push-sm-11,
.push-md-11,
.push-lg-11,
.push-xl-11 {
  left: 91.66667%;
}

.push-12,
.push-sm-12,
.push-md-12,
.push-lg-12,
.push-xl-12 {
  left: 100%;
}

.offset-1,
.offset-sm-1,
.offset-md-1,
.offset-lg-1,
.offset-xl-1 {
  margin-left: 8.33333%;
}

.offset-2,
.offset-sm-2,
.offset-md-2,
.offset-lg-2,
.offset-xl-2 {
  margin-left: 16.66667%;
}

.offset-3,
.offset-sm-3,
.offset-md-3,
.offset-lg-3,
.offset-xl-3 {
  margin-left: 25%;
}

.offset-4,
.offset-sm-4,
.offset-md-4,
.offset-lg-4,
.offset-xl-4 {
  margin-left: 33.33333%;
}

.offset-5,
.offset-sm-5,
.offset-md-5,
.offset-lg-5,
.offset-xl-5 {
  margin-left: 41.66667%;
}

.offset-6,
.offset-sm-6,
.offset-md-6,
.offset-lg-6,
.offset-xl-6 {
  margin-left: 50%;
}

.offset-7,
.offset-sm-7,
.offset-md-7,
.offset-lg-7,
.offset-xl-7 {
  margin-left: 58.33333%;
}

.offset-8,
.offset-sm-8,
.offset-md-8,
.offset-lg-8,
.offset-xl-8 {
  margin-left: 66.66667%;
}

.offset-9,
.offset-sm-9,
.offset-md-9,
.offset-lg-9,
.offset-xl-9 {
  margin-left: 75%;
}

.offset-10,
.offset-sm-10,
.offset-md-10,
.offset-lg-10,
.offset-xl-10 {
  margin-left: 83.33333%;
}

.offset-11,
.offset-sm-11,
.offset-md-11,
.offset-lg-11,
.offset-xl-11 {
  margin-left: 91.66667%;
}