//
//  HEADER LOGO
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$header-logo-size: 80px;


//
//  STYLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.site-header__logo {
  display: inline-block;
  margin-right: $gutter;
  vertical-align: top;
  position: relative;
  z-index: $z-index-site-header-logo;
}

// .site-header__logo-img {
//   margin-bottom: -11px;
//   margin-top: -7px;
//   margin-right: $gutter;
//   vertical-align: top;
//   width: $header-logo-size;
// }

.site-header__logo-svg {
  height: $header-logo-size;
  margin-bottom: -13px;
  margin-top: -10px;
  vertical-align: top;
  width: $header-logo-size;

  .circle {
    fill: $color-primary-darker;
    // stroke: $color-primary-lighter;
    // stroke-width: 0;
    transition: all .1s ease;
  }

  .circle-outer {
    fill: $color-primary-lighter;
  }

  #g,
  #m {
    use {
      // fill: rgba($white, .5);
      fill: mix($color-primary, $white, 50%);
      transition: all .3s ease;
    }
  }
}


//
//  MOBILE
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-below(sm) {
  .site-header__logo {
    position: relative;
    z-index: $z-index-site-header-logo-mobile;
  }
}


//
//  HOVER
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-above(sm) {
  .site-header__logo {
    &:hover {
      .site-header__logo-svg {
        .circle {
          fill: $color-primary-lighter;
        }

        #g,
        #m {
          use {
            fill: $white;
          }
        }
      }
    }
  }
}


//
//  TRANSPARENT SITE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.-has-transparent-site-header {
  .site-header__logo-svg {
    .circle {
      fill: $color-gray-1;
    }

    .circle-outer {
      fill: $color-gray-2;
      // fill: rgba($white, .025);
    }
     
    #g,
    #m {
      use {
        fill: rgba($white, .4);
      }
    }
  }
}

// Hover.
@include respond-above(sm) {
  .-has-transparent-site-header {
    .site-header__logo {
      &:hover {
        .site-header__logo-svg {
          .circle {
            fill: $color-gray-1;
          }

          .circle-outer {
            fill: $color-gray-1;
          }
        }
      }
    }
  }
}
