//
//  HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  LAYOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––

$site-header-padding: 0;


//
//  COLOR
//––––––––––––––––––––––––––––––––––––––––––––––––––

$site-header-bg-color: $color-primary;


//
//  STYLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.site-header {
  background-color: $site-header-bg-color;
  padding: $site-header-padding;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index-site-header;
}

@include respond-above(sm) {
  .site-header {
    border-bottom: 5px solid $color-primary-lightest;
    border-top: 5px solid $color-primary-lightest;
  }
}


//
//  TRANSPARENT SITE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.-has-transparent-site-header {
  .site-header {
    border-bottom-color: transparent;
    border-top-color: $color-gray-1;
    background-color: transparent;
  }
}
