

//
//  SECTION
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$section-padding-xs-top-bottom: $gutter * 2;
$section-padding-xs: $section-padding-xs-top-bottom 0;

$section-padding-sm-top-bottom: $gutter * 3;
$section-padding-sm: $section-padding-sm-top-bottom 0;

$section-padding-md-top-bottom: $gutter * 4;
$section-padding-md: $section-padding-md-top-bottom 0;

$section-padding-lg-top-bottom: $gutter * 4;
$section-padding-lg: $section-padding-lg-top-bottom 0;


//
//  STYLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section {
  padding: $section-padding-xs;
}

@include respond-above(xs) {
  .section {
    padding: $section-padding-sm;
  }
}

@include respond-above(sm) {
  .section {
    padding: $section-padding-md;
  }
}

@include respond-above(md) {
  .section {
    padding: $section-padding-lg;
  }
}
