//
//  SITE NAV MOBILE
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-below(sm) {
  .site-header__container {
    position: static;
  }

  .site-nav {
    background-color: $color-primary-darker;
    height: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: $site-header-height-sm;
    transition: all .2s ease;
    width: 100%;
    z-index: $z-index-site-nav-mobile;
  }

  .site-nav-is-open {
    .site-nav {
      height: 100vh;
      padding: $gutter*2 $gutter;
    }
  }

  .site-nav__link {
    font-size: rem(21px);
    padding: $gutter;
  }
}
