//
//  SITE NAV
//––––––––––––––––––––––––––––––––––––––––––––––––––

$site-nav-font-color: rgba($white, .75);

.site-nav {
  li {
    display: inline-block;

    a {
      color: $site-nav-font-color;
      display: block;
      padding: $gutter / 2;
    }
  }
}
