

//
//  SITE NAV
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  LAYOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––

$site-nav-item-padding: $gutter/2 $gutter;
$site-nav-item-padding-md: $gutter*.75 $gutter;


//
//  COLOR
//––––––––––––––––––––––––––––––––––––––––––––––––––

$site-nav-bg-color: transparent;

// Standard nav item.
$site-nav-item-font-color: rgba($white, .75);
$site-nav-item-bg-color: transparent;

// Hover.
$site-nav-item-font-color-hover: $white;
$site-nav-item-bg-color-hover: transparent;

// Current nav item.
$site-nav-item-current-font-color: $white;
$site-nav-item-current-bg-color: transparent;
$site-nav-item-current-border-color: $color-secondary;


//
//  STYLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.site-nav {
  background: $site-nav-bg-color;
  display: inline-block;

  > .container {
    position: static;
  }
}

.site-nav__item {
  display: inline-block;
  font-weight: bold;
  width: 100%;
}

.site-nav__link {
  background: $site-nav-item-bg-color;
  color: $site-nav-item-font-color;
  display: block;
  padding: $site-nav-item-padding;
  transition: all .15s ease;
}

// Current item
.site-nav__item {
  &.-is-current {
    .site-nav__link {
      background: $site-nav-item-current-bg-color;
      color: $site-nav-item-current-font-color;
    }
  }
}

@include respond-above(sm) {
  .site-nav {
    vertical-align: top;
    float: right;
  }

  .site-nav__item {
    width: auto;
  }

  .site-nav__link {
    padding: $site-nav-item-padding-md;
    position: relative;

    &:before {
      background: transparent;
      content: '';
      height: 5px;
      left: 0;
      margin-top: -5px;
      position: absolute;
      top: 0;
      transition: all .1s ease;
      width: 100%;
    }

    &:hover {
      background: $site-nav-item-bg-color-hover;
      color: $site-nav-item-font-color-hover;

      &:before {
        background: $white;
      }
    }

    &.-is-current {
    }
  }

  .site-nav__item {
    &.-is-current {
      .site-nav__link {
        &:before {
          // background: rgba($white, .25);
          background: $site-nav-item-current-border-color;
          box-shadow: 0 0 5px lighten($site-nav-item-current-border-color, 5%);
        }
      }
    }
  }
}
