//
//  SITE NAV CHILDREN VARS
//––––––––––––––––––––––––––––––––––––––––––––––––––

@use "sass:color";

//
//  LAYOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––

$site-nav-dropdown-width-sm: 100%;
$site-nav-dropdown-width-md: 200px;
$site-nav-dropdown-item-padding-sm: ($gutter * 0.25) $gutter;
$site-nav-dropdown-item-padding-md: ($gutter * 0.5) $gutter;

//
//  COLORS
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Dropdown.
$site-nav-dropdown-bg-color: $color-primary;

// Standard nav item.
$site-nav-dropdown-item-bg-color: transparent;
$site-nav-dropdown-item-font-color: rgba($white, 0.75);

// Hover.
$site-nav-dropdown-bg-color-hover: color.adjust(
  $site-nav-dropdown-bg-color,
  $lightness: 2.5%
);
$site-nav-dropdown-item-font-color-hover: $white;
