{{ partial "head" . }}

<body class="{{ .Title | urlize }}{{ with .Params.custom_class }} page-{{ . }}{{ end }}{{ with .Params.transparent_header }} -has-transparent-site-header{{ end }}">

  {{ partial "header" . }}

  {{ partial "page-header" . }}

  <section class="section section__about-music">
    <div class="container container__about-music">
      <div class="row">
        <div class="col-sm-12">
          <h2>
            Music
          </h2>
          <p>Scrobbled on <a href="http://last.fm/user/elgyn2">last.fm</a> since May 2005.</p>
        </div>
      </div>

      <div id="last-fm"></div>
      
    </div><!-- .container__about-music -->
  </section><!-- .section__about-music -->

  {{ partial "footer" . }}

<script src="/js/bundle.js"></script>
  
{{ partial "foot" . }}

</body>