<!--
//
//  ARTICLE SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
<div class="col-sm-12 col-md-6 col-lg-4 col__article-summary">
  <article class="article-summary">

    <a href="{{ .Permalink }}" class="article-summary__link">

      <div class="article-summary__featured-image" {{ with .Params.featured }} style="background-image:url({{ . }})"{{ end }}></div>

      <span class="article-summary__content-wrapper">

        {{ if .Params.categories }}
        <ul class="article-summary__categories">
          {{ range .Params.categories }}
            <li class="article-summary__category article-summary__category-{{ . | urlize }}">
              {{ . }}
            </li>
          {{ end }}
        </ul>
        {{ end }}

        <date class="article-date article-summary__date">
          <span class="article-date__month">{{ .Date.Format "Jan" }}</span>
          <span class="article-date__day">{{ .Date.Format "2" }}<sup class="article-date__day-suffix">{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }}</sup></span>
          <span class="article-date__year">{{ .Date.Format "2006" }}</span>
        </date>

        <h3 class="article-summary__title">
          {{ .Title }}
        </h3>
        

        <p class="article-summary__excerpt">
          {{ $truncated := .Summary | truncate 140 "" }}
          {{ $summary := .Summary | markdownify }}

          {{ if gt (len .Summary | markdownify ) (len $truncated | markdownify) }}
            
            {{ $truncated }}...

          {{ else }}
              
            {{ $summary }}

          {{ end }}
        </p>
      </span><!-- .article-summary__content-wrapper -->
    </a><!-- .article-summary__link -->
    
  </article><!-- .article-summary -->
</div><!-- .col -->