<!--
//
//  INSTAGRAM POST PLACEHOLDER
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
<div class="instagram-post instagram-post--loading">
  <div class="instagram-post__image instagram-post__image--placeholder"></div>
  <div class="instagram-post__meta instagram-post__meta--placeholder">
    <p class="instagram-post__caption instagram-post__caption--placeholder">
      &nbsp;
    </p>
    <small class="instagram-post__likes instagram-post__likes--placeholder">
      &nbsp;
    </small>
  </div>
</div>