<!--
//
//  PAGINATION
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
<!-- {{ template "_internal/pagination.html" . }} -->


{{ $paginator := .Paginator }}

{{ $adjacent_links := 2 }}
{{ $max_links := (add (mul $adjacent_links 2) 1) }} <!-- ($adjacent_links * 2) + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

{{ if gt $paginator.TotalPages 1 }}
<nav class="pagination">
  <ul class="pagination__list">

  <!-- First page. -->
  {{ if and (ne $paginator.PageNumber 1) (gt $paginator.TotalPages $max_links) }}
    <li class="pagination__item pagination__item--first">
      <a class="pagination__link pagination__link--first" href="{{ $paginator.First.URL }}"><<</a>
    </li>
  {{ end }}
  
  <!-- Previous page. -->
  {{ if $paginator.HasPrev }}
    <li class="pagination__item pagination__item--previous">
      <a class="pagination__link pagination__link--previous" href="{{ $paginator.Prev.URL }}"><</a>
    </li>
  {{ end }}

    
  <!-- Page numbers. -->
  {{ range $paginator.Pagers }}

    <!-- Page number flag. -->
    {{ $.Scratch.Set "page_number_flag" false }}

    <!-- Complex pagination. -->
    <!-- If there are more pages than the max page numbers allowed. -->
    {{ if gt $paginator.TotalPages $max_links }}
      
      <!-- Lower limit pages. -->
      <!-- If the user is on a page which is in the lower limit.  -->
      {{ if le $paginator.PageNumber $lower_limit }}

        <!-- If the current loop page is less than max_links. -->
        {{ if le .PageNumber $max_links }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}

      <!-- Upper limit pages. -->
      <!-- If the user is on a page which is in the upper limit. -->
      {{ else if ge $paginator.PageNumber $upper_limit }}

        <!-- If the current loop page is greater than total pages minus $max_links -->
        {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}

      <!-- Middle pages. -->
      {{ else }}
        {{ if and (ge .PageNumber (sub $paginator.PageNumber $adjacent_links)) (le .PageNumber (add $paginator.PageNumber $adjacent_links)) }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}
      {{ end }}

    <!-- Simple pagination. -->
    {{ else }}
      {{ $.Scratch.Set "page_number_flag" true }}
    {{ end }}

    <!-- If a page number link should be drawn. -->
    {{ if eq ($.Scratch.Get "page_number_flag") true }}
      <li class="pagination__item pagination__item--{{ .PageNumber }}{{ if eq . $paginator }} pagination__item--current{{ end }}">
        <a href="{{ .URL }}" class="pagination__link pagination__link--{{ .PageNumber }}{{ if eq . $paginator }} pagination__link--current{{ end }}">
          {{ .PageNumber }}
        </a>
      </li>
    {{ end }}
  {{ end }} <!-- end of range -->
  

  <!-- Next page. -->
  {{ if $paginator.HasNext }}
    <li class="pagination__item pagination__item--next">
      <a class="pagination__link pagination__link--next" href="{{ $paginator.Next.URL }}">></a>
    </li>
  {{ end }}
  
  <!-- Last page. -->
  {{ if and (ne $paginator.PageNumber $paginator.TotalPages) (gt $paginator.TotalPages $max_links) }}
    <li class="pagination__item pagination__item--last">
      <a class="pagination__link pagination__link--last" href="{{ $paginator.Last.URL }}">>></a>
    </li>
  {{ end }}

  </ul><!-- .pagination__list -->
</nav><!-- .pagination -->
{{ end }}