<!--
//
//  PAGINATION
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
<!-- {{ template "_internal/pagination.html" . }} -->


{{ $paginator := .Paginator }}

{{ $adjacentLinks := 4 }}
{{ $maxPageNumbers := (add (mul $adjacentLinks 2) 1) }}
{{ $lowerLimit := (add $adjacentLinks 1) }}
{{ $upperLimit := (sub $paginator.TotalPages $adjacentLinks) }}

<p>
  Upper limit {{ $upperLimit }} minus Lower limit {{ $lowerLimit }} = {{ sub $upperLimit $lowerLimit }}. 
</p>

{{ if ge (sub $upperLimit $lowerLimit) 1 }}
<p>
  Complex page numbers.
</p>
{{ end }}

{{ if gt $paginator.TotalPages $maxPageNumbers }}
<p>
  Too many pages.
</p>
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
<nav class="pagination">
  <ul class="pagination__list">

  {{ if ne $paginator.PageNumber 1 }}
    <li class="pagination__item pagination__item--first">
      <a class="pagination__link pagination__link--first" href="{{ $paginator.First.URL }}"><<</a>
    </li>
  {{ end }}

  {{ if $paginator.HasPrev }}
    <li class="pagination__item pagination__item--previous">
      <a class="pagination__link pagination__link--previous" href="{{ $paginator.Prev.URL }}"><</a>
    </li>
  {{ end }}
    
  {{ if le $paginator.PageNumber $lowerLimit }}
    Lower limit
  {{ end }}

  {{ if ge $paginator.PageNumber $upperLimit }}
    Upper limit
  {{ end }}
  {{ range $paginator.Pagers }}
    <li class="pagination__item pagination__item--{{ .PageNumber }}{{ if eq . $paginator }} pagination__item--current{{ end }}">
      <a href="{{ .URL }}" class="pagination__link pagination__link--{{ .PageNumber }}{{ if eq . $paginator }} pagination__link--current{{ end }}">
        {{ .PageNumber }}
      </a>
    </li>
  {{ end }}

  {{ if $paginator.HasNext }}
    <li class="pagination__item pagination__item--next">
      <a class="pagination__link pagination__link--next" href="{{ $paginator.Next.URL }}">></a>
    </li>
  {{ end }}

  {{ if ne $paginator.PageNumber $paginator.TotalPages }}
    <li class="pagination__item pagination__item--last">
      <a class="pagination__link pagination__link--last" href="{{ $paginator.Last.URL }}">>></a>
    </li>
  {{ end }}

  </ul><!-- .pagination__list -->
</nav><!-- .pagination -->
{{ end }}