<!--
//
//  SECTION - ARTICLES SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
<section class="section section__articles-summary{{ if .IsHome }} -is-first-section{{ end }}">
  <div class="container container__articles-summary">
    <div class="row row__articles-summary">
    
      {{ $paginator := .Paginate (where .Data.Pages "Type" "articles") }}

      {{ range $paginator.Pages }}
        {{ partial "article-summary" . }}
      {{ end }}

    </div><!-- .row -->

    <div class="row row__pagination">
      {{ partial "pagination.html" . }}
    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .section__articles-summary -->