<!--
//
//  SITE NAV
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
<nav class="site-nav">
  <ul class="site-nav__list">
    {{ $pageKind := .Kind }}
    {{ $pageType := .Type }}
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}

      {{ $identifier := .Identifier }}

    <li class="site-nav__item site-nav_item--{{ .Identifier }}{{ if $currentPage.IsMenuCurrent "main" . }} -is-current{{ end }}{{ if $currentPage.HasMenuCurrent "main" . }} -is-current{{ end }}{{ if and (eq $pageKind "page") (eq $pageType $identifier) }} -is-current{{ end }}{{ if .HasChildren }} -has-children{{ end }}">
      <a href="{{.URL}}" class="site-nav__link{{ if .HasChildren }} -has-children{{ end }}">
        {{ .Name }}{{ if .HasChildren }} <span class="site-nav__link-caret"></span>{{ end }}
      </a>
      {{ if .HasChildren }}
        <ul class="site-nav__child-list">
        {{ range .Children }}
          <li class="site-nav__child-item{{if $currentPage.IsMenuCurrent "main" . }} -is-current{{end}}">
            <a href="{{.URL}}" class="site-nav__child-link">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
        </ul><!-- .site-nav__child-list -->
      {{ end }}
    </li>
    {{ end }}
  </ul>
</nav><!-- .site-nav -->
<a href="javascript:void(0);" class="site-nav__nav-toggle u-hidden-md-up">Menu</a>