<!-- <div class="social-links">
  <ul class="social-links__list">
    <li class="social-links__item social-links__item__twitter">
      <a href="{{ index .Site.Data.social_links "twitter" }}" class="social-links__link" target="_blank">
        Twitter
      </a>
    </li>
    <li class="social-links__item social-links__item__instagram">
      <a href="{{ index .Site.Data.social_links "instagram" }}" class="social-links__link" target="_blank">
        Instagram
      </a>
    </li>
    <li class="social-links__item social-links__item__github">
      <a href="{{ index .Site.Data.social_links "github" }}" class="social-links__link" target="_blank">
        GitHub
      </a>
    </li>
    <li class="social-links__item social-links__item__dribbble">
      <a href="{{ index .Site.Data.social_links "dribbble" }}" class="social-links__link" target="_blank">
        Dribbble
      </a>
    </li>
    <li class="social-links__item social-links__item__linkedin">
      <a href="{{ index .Site.Data.social_links "linkedin" }}" class="social-links__link" target="_blank">
        LinkedIn
      </a>
    </li>
  </ul>
</div> -->

<div class="social-links">
  <ul class="social-links__list">
{{ range index .Site.Data.social_links_v2 "social_links" }}
    <li class="social-links__item social-links__item__{{ .identifier }}">
      <a href="{{ .url }}" class="social-links__link" target="_blank">
        {{ .name }}
      </a>
    </li>
{{ end }}
  </ul>
</div>