<!--
//
//  TABLE OF CONTENTS
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
<div class="table-of-contents">
  <a href="javascript:void(0);" class="table-of-contents__toggle">
    <span class="table-of-contents__toggle-icon">
      <span class="table-of-contents__toggle-icon-bar table-of-contents__toggle-icon-bar--1"></span>
      <span class="table-of-contents__toggle-icon-bar table-of-contents__toggle-icon-bar--2"></span>
      <span class="table-of-contents__toggle-icon-bar table-of-contents__toggle-icon-bar--3"></span>
      <span class="table-of-contents__toggle-icon-bar table-of-contents__toggle-icon-bar--4"></span>
      <span class="table-of-contents__toggle-icon-bar table-of-contents__toggle-icon-bar--5"></span>
    </span><span class="table-of-contents__toggle-label">Table of Contents</span>
  </a>
  <div class="table-of-contents__wrapper">
    <h6 class="table-of-contents__title">
      Jump to
    </h6>
    {{ .TableOfContents }}
  </div>
</div><!-- .table-of-contents -->