<!--
//
//  WORK SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->

  <div class="container container__work-summary">
    <article class="work-summary">
      <div class="row row__work-summary">
        <div class="col-sm-6 col-md-4 offset-md-1 col-lg-3 offset-lg-2 col__work-summary col__work-summary--image">
            <a href="{{ .Permalink }}" class="work-summary__image-link">
          {{ if isset .Params "tile_image" }}
              <img src="{{ .Params.tile_image  }}" class="work-summary__image" alt="">
          {{ end }}
            </a>
        </div>

        <div class="col-sm-6 col-md-5 offset-md-1 col-lg-5 col__work-summary col__work-summary--content">
          <a href="{{ .Permalink }}" class="work-summary__link">
            <h2 class="work-summary__title">
              {{ .Title }}
            </h2>

            <p class="work-summary__excerpt">
              {{ with .Params.summary }}{{ . }}{{ end }}
            </p>

            <button class="btn">
              Learn more
            </button>
          </a><!-- .work-summary__link -->
        </div><!-- .col -->
      </div><!-- .row -->
    </article><!-- .work-summary -->
  </div><!-- .container -->