<!--
//
//  WORK SUMMARY
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->

  <div class="container container__work-summary">
    <article class="work-summary">
      <div class="row row__work-summary">
        <div class="col-sm-6 col-md-4 offset-md-1 col-lg-3 offset-lg-2 col__work-summary col__work-summary--image">
          {{ if isset .Params "tile_image" }}
            <a class="work-summary__image-link" href="{{ .Permalink }}" title="{{ .Title }}">
              <img src="{{ .Params.tile_image  }}" class="work-summary__image" alt="">
            </a>
          {{ end }}
        </div>

        <div class="col-sm-6 col-md-5 offset-md-1 col-lg-5 col__work-summary col__work-summary--content">
          <p class="work-summary__date">
            {{ .Date.Format "January" }} {{ .Date.Format "2006" }}
          </p>
          <h2 class="work-summary__title">
            <a class="work-summary__title__anchor" href="{{ .Permalink }}" title="{{ .Title }}">
              {{ .Title }}
            </a>
          </h2>

          <p class="work-summary__excerpt">
            {{ with .Params.summary }}{{ . }}{{ end }}
          </p>

          <a href="{{ .Permalink }}" class="btn work-summary__button -has-color-secondary" title="{{ .Title }}">
            Learn more
          </a>
        </div><!-- .col -->
      </div><!-- .row -->
    </article><!-- .work-summary -->
  </div><!-- .container -->