{{ partial "head.html" . }}
<body class="home">

  {{ partial "header.html" . }}

  <section class="section">
    <div class="container">
    {{ range first 10 .Data.Pages }}
      {{ if eq .Type "articles" }}
      <article>
        <h3>
          <a href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </h3>
        {{ .Summary }}
        <a href="{{ .Permalink }}">
          Read More
        </a>
      </article>
      {{ end }}
    {{ end }}
    </div><!-- .container -->
  </section>


  <!-- This pulls in the value of "settings_test" from data/site-settings.yml -->
  <!-- <p>
    index: {{ index .Site.Data.site_settings "settings_test" }}
  </p> -->


  {{ partial "footer.html" . }}

</body>
{{ partial "foot.html" . }}