//
//  FITBUGG
//––––––––––––––––––––––––––––––––––––––––––––––––––

@use "sass:color";

//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$color-fitbugg-blue: #085ab5;
$color-fitbugg-blue-lighter: color.adjust(
  $color-fitbugg-blue,
  $lightness: 2.5%
);
$color-fitbugg-blue-darker: color.adjust($color-fitbugg-blue, $lightness: -5%);

//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-work {
  &.fitbugg {
    .section__page-header {
      background-color: $color-fitbugg-blue;
      background: radial-gradient(
        900px circle at 40% 50%,
        rgba($color-fitbugg-blue-lighter, 1) 0%,
        rgba($color-fitbugg-blue-darker, 1) 100%
      );
      box-shadow: inset 0 -10px 50px rgba($black, 0.05);
    }
  }
}

//
//  BODY
//––––––––––––––––––––––––––––––––––––––––––––––––––

.single-work {
  &.fitbugg {
    .section__work-body {
      padding-top: 0;

      .work-body__content {
        > p {
          &:nth-child(1) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

//
//  INTRO
//––––––––––––––––––––––––––––––––––––––––––––––––––

.work-body__full-bleed {
  &.fitbugg-intro {
    background-color: $color-fitbugg-blue;
    border-top: 1px solid rgba($white, 0.15);
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }
}

@include respond-above(sm) {
  .work-body__full-bleed {
    &.fitbugg-intro {
      padding-top: $gutter * 6;
    }
  }
}

//
//  MY ROLE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.work-body__full-bleed {
  &.fitbugg-my-role {
    background-color: $color-fitbugg-blue;

    .img-shortcode {
      margin-bottom: 0;

      .img-shortcode__img-wrapper {
        margin-bottom: 0;
      }
    }
  }
}

@include respond-below(md) {
  .work-body__full-bleed {
    &.fitbugg-my-role {
      padding-bottom: 0;
    }
  }
}

@include respond-between(sm, md) {
  .work-body__full-bleed {
    &.fitbugg-my-role {
      .col__content,
      .col__image {
        flex-basis: auto; // Makes columns full width.
      }
    }
  }
}

@include respond-above(md) {
  .work-body__full-bleed {
    &.fitbugg-my-role {
      position: relative;

      .container {
        position: static;
      }

      .col__image {
        position: static;

        .img-shortcode {
          bottom: 0;
          max-width: 500px;
          position: absolute;
        }
      }
    }
  }
}

//
//  ARCHITECTURE
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-above(sm) {
  .work-body__full-bleed {
    &.fitbugg-architecture {
      padding-top: $gutter * 6;
    }
  }
}

//
//  BRAND
//––––––––––––––––––––––––––––––––––––––––––––––––––

.work-body__full-bleed {
  &.fitbugg-brand {
    background-color: #efeff4;
    padding-top: $gutter * 4;
  }
}

@include respond-above(sm) {
  .work-body__full-bleed {
    &.fitbugg-brand {
      padding-top: $gutter * 6;
    }
  }
}

//
//  TYPOGRAPHY
//––––––––––––––––––––––––––––––––––––––––––––––––––

.work-body__full-bleed {
  &.fitbugg-typography {
    background-color: #efeff4;
    padding-top: 0;
  }
}

//
//  COLOUR
//––––––––––––––––––––––––––––––––––––––––––––––––––

.work-body__full-bleed {
  &.fitbugg-colour {
    background-color: #efeff4;
    padding-top: 0;
  }
}
