

//
//  ARTICLE BODY FULL BLEED
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-body__full-bleed {
  margin-bottom: $base-margin-bottom-xs;

  img {
    max-width: none;
    width: 100%;
  }

  figure {
    margin-bottom: 0;
  }

  .img-shortcode__img-sqip {
    margin-bottom: 0;
  }
}

@include respond-above(xs) {
  .article-body__full-bleed {
    margin-bottom: $base-margin-bottom;
  }
}


//
//  MULTIPLE COLUMNS
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Add padding to the bottom of columns at xs size.
@include respond-below(xs) {
  .article-body__full-bleed {
    .col__shortcode {
      margin-bottom: $gutter;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
