

//
//  IMG SHORTCODE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.img-shortcode {
  position: relative;
}


//
//  IMAGE WRAPPER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.img-shortcode__img-wrapper {
  display: inline-block;
  margin-bottom: $gutter * .25;
  overflow: hidden;

  img {
    margin-bottom: 0 !important;
  }
} 

//
//  LQIP
//––––––––––––––––––––––––––––––––––––––––––––––––––

.img-shortcode__img-lqip {
  filter: blur(50px) saturate(75%);
  max-width: 100%;
  transform: scale(1.2);
  transition: all 1s ease;
}

.img-shortcode {
  &.-image-has-loaded {
    .img-shortcode__img-lqip {
      opacity: 0;
    }
  }
}


//
//  SQIP
//––––––––––––––––––––––––––––––––––––––––––––––––––

// .img-shortcode__img-sqip {
//   margin-bottom: 5px;
//   overflow: hidden;
//   transition: all 1s ease;

//   svg {
//     vertical-align: top;
//   }
// }

// .img-shortcode {
//   &.-image-has-loaded {
//     .img-shortcode__img-sqip {
//       opacity: 0;
//     }
//   }
// }


//
//  FULL
//––––––––––––––––––––––––––––––––––––––––––––––––––

.img-shortcode__img-full {
  left: 0;
  position: absolute;
  top: 0;
  max-width: 100%;
}
