{{ partial "head" . }}

<body class="{{ .Title | urlize }}{{ with .Params.custom_class }} page-{{ . }}{{ end }}{{ with .Params.transparent_header }} -has-transparent-site-header{{ end }}">

  {{ partial "header" . }}

  <section class="section section__page-header{{ with .Params.featured }} -has-featured{{ end }}{{ with .Params.dark_bg }} -has-dark-bg{{ end }}">
    <div class="container container__page-header">
      <div class="row">
        <div class="col-10 offset-1 col-xs-8 offset-xs-2 col-sm-9 offset-sm-0 col-md-8 col-lg-6">

          <h1 class="page-header__title">
            {{ .Title }}
          </h1>

          <form action="/contact/" name="contact" class="form form__contact" netlify>
            <fieldset class="form__fieldset">
              <input type="text" class="form__field form__field-name" id="name" name="name" placeholder="Name" required>
              <label for="name" class="form__field-label">
                Name
              </label>
            </fieldset>

            <fieldset class="form__fieldset">
              <input type="email" class="form__field form__field-email" id="email" name="email" placeholder="Email" required>
              <label for="email" class="form__field-label">
                Email
              </label>
            </fieldset>

            <!-- <fieldset class="form__fieldset form__fieldset-select">
              <select class="form__field" name="enquiry-type" id="enquiry-type" required>
                <option value="">Enquiry Type</option>
                <option value="general">General Enquiry</option>
                <option value="specific">Specific Enquiry</option>
              </select>
              <label for="enquiry-type" class="form__field-label">
                Enquiry
              </label>
            </fieldset> -->

            <fieldset class="form__fieldset">
              <textarea name="message" id="message" rows="6" class="form__field form__field-message" placeholder="Message" required></textarea>
              <label for="message" class="form__field-label">
                Message
              </label>
            </fieldset>

           <!--  <fieldset class="form__fieldset form__fieldset-check">
              <input type="checkbox" id="newsletter" class="form__check form__check-checkbox">
              <label for="newsletter" class="form__check-label">
                Subscribe to Newsletter
              </label>
            </fieldset> -->

            <!-- <fieldset class="form__fieldset form__fieldset-inline form__fieldset-check">
              <input type="radio" name="gender" id="male" class="form__check form__check-radio">
              <label for="male" class="form__check-label">
                Male
              </label>
            </fieldset>

            <fieldset class="form__fieldset form__fieldset-inline form__fieldset-check">
              <input type="radio" name="gender" id="female" class="form__check form__check-radio">
              <label for="female" class="form__check-label">
                Female
              </label>
            </fieldset> -->
            
            <footer class="form__footer">
              <input class="btn btn-secondary" type="submit" value="Send">
            </footer>
          </form><!-- .form -->

        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
    <div class="page-header__featured-image" {{ with .Params.featured }}style="background-image:url({{ . }})"{{ end }}></div>
  </section><!-- .section__page-header -->

  

  {{ partial "footer" . }}
  
</body>

{{ partial "foot" . }}