{{ partial "head" . }}

<body class="single-article {{ with .Params.custom_class }} {{ . }}{{ end }}{{ with .Params.transparent_header }} -has-transparent-site-header{{ end }}{{ range .Params.categories }} article-category-{{ . | urlize }}{{ end }}">

  {{ partial "header" . }}

  {{ partial "page-header" . }}  

  <section class="section section__article-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            
          <!-- 
          //
          //  TABLE OF CONTENTS
          //––––––––––––––––––––––––––––––––––––––––––––––––––
          -->
          {{ if eq .Params.toc true }}{{ partial "table-of-contents" . }}{{ end }}
          
          <article class="article-body">
            {{ .Content }}
          </article>
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- .section__article-body -->

  <section class="section section__article-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          

          <div id="disqus_thread"></div>
          
          <!-- <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://glennmccomb-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
          {{ template "_internal/disqus.html" . }}
                            
                                      
        </div><!-- .col -->
      </div>
    </div>
  </section><!-- .section section__article-footer -->

  {{ partial "footer" . }}

</body>

{{ partial "foot" . }}