{{ partial "head" . }}

<body class="single-article">

  {{ partial "header" . }}

  <section class="section section__page-header section__article-header {{ with .Params.featured }}-has-featured{{ end }}" {{ with .Params.featured }}style="background-image:url({{ . }})"{{ end }}>
    <div class="container">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
          <hgroup class="page-header__hgroup article-header__hgroup">
            <h1 class="page-header__title article-header__title">
              {{ .Title }}
            </h1>

            <date class="article-header__date">{{ .Date.Format "January" }} {{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }}, {{ .Date.Format "2006" }}</date>

            <ul class="article-header__categories">
              {{ range .Params.categories }}
                <li class="article-header__category article-header__category-{{ . | urlize }}">
                  <a class="article-header__category-link" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                </li>
              {{ end }}
            </ul>
          </hgroup><!-- .article-header__hgroup -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- .section__article-header -->

  <section class="section section__article-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
          <article>
            {{ .Content }}
          </article>
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- .section__article-body -->

  {{ partial "footer" . }}

</body>

{{ partial "foot" . }}