//
//  MAIN
//––––––––––––––––––––––––––––––––––––––––––––––––––

@charset 'UTF-8';


//
//  CONFIGURATION & HELPERS
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'abstracts/variables';
// @import 'abstracts/color';
// @import 'abstracts/functions';
// @import 'abstracts/mixins';
// @import 'abstracts/media-queries';
// @import 'abstracts/z-index';


//
//  VENDOR
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'vendor/normalize';


//
//  BASE
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'base/base';
// @import 'base/fonts';
@import 'base/typography';
@import 'base/dark-bg';
@import 'base/helpers';
@import 'base/grid';
@import 'base/grid-cols';
// @import 'base/grid-push';
// @import 'base/grid-pull';
@import 'base/grid-offsets';


//
//  LAYOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'layout/header';
@import 'layout/header-logo';
@import 'layout/site-nav';
@import 'layout/site-nav-children';
@import 'layout/site-nav-mobile';
@import 'layout/site-nav-mobile-toggle';
@import 'layout/footer';
@import 'layout/section';


//
//  COMPONENTS
//––––––––––––––––––––––––––––––––––––––––––––––––––

// HTML.
@import 'components/nav';
@import 'components/buttons';
// @import 'components/forms';
@import 'components/figure';
@import 'components/iframe';
@import 'components/code';
@import 'components/video';

// Components.
@import 'components/page-header';
@import 'components/page-header-background-device';
@import 'components/page-header-icon';
@import 'components/pagination';
@import 'components/parallax-hover';
@import 'components/social-links';
@import 'components/article-date';
@import 'components/section-articles-summary';
// @import 'components/section-related-articles';
@import 'components/article-summary';
@import 'components/article-summary-featured';
@import 'components/article-summary-parallax-hover';
// @import 'components/table-of-contents';
@import 'components/highlight';
@import 'components/tweet-widget';
@import 'components/lqip';


//
//  SHORTCODES
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'shortcodes/col';
// @import 'shortcodes/article-body-full-bleed';
// @import 'shortcodes/work-body-full-bleed';
@import 'shortcodes/img';


//
//  PAGES
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'pages/home';
// @import 'pages/single-article';
// @import 'pages/about';
// @import 'pages/contact';

@import 'pages/404';

// @import 'pages/category-design';
// @import 'pages/category-development';
// @import 'pages/category-gaming';
// @import 'pages/category-nba';


//
//  ARTICLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @import 'articles/rust-survival-tips';
// @import 'articles/rust-menu-ui';


//
//  THEMES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @import 'themes/default';


// Basic 7-1 structure taken from:
// https://github.com/HugoGiraudel/sass-boilerplate
// and https://sass-guidelin.es/#architecture
