<!--
//
//  IMG
//––––––––––––––––––––––––––––––––––––––––––––––––––

Params:
src="URL"
alt="description of image"
caption="caption"
url="http://"
-->
{{ if in (.Get "src") ".jpg" }}
  {{ $src := .Get "src" }}

  {{ $lqip := replace $src ".jpg" "-lqip.jpg" }}
  {{ $.Scratch.Set "lqip" $lqip }}

  {{ $sqip := replace $src ".jpg" ".svg" }}
  {{ $.Scratch.Set "sqip" "/static" }}
  {{ $.Scratch.Add "sqip" $sqip }}

{{ end }}

{{ if in (.Get "src") ".png" }}
  {{ $src := .Get "src" }}

  {{ $lqip := replace $src ".png" "-lqip.jpg" }}
  {{ $.Scratch.Set "lqip" $lqip }}

  {{ $sqip := replace $src ".png" ".svg" }}
  {{ $.Scratch.Set "sqip" "/static" }}
  {{ $.Scratch.Add "sqip" $sqip }}

{{ end }}
<figure class="img-shortcode" data-full="{{ .Get "src" }}">
  <div class="img-shortcode__img-wrapper">
    <img class="img-shortcode__img-lqip" src="{{ $.Scratch.Get "lqip" }}" {{ if .Get "alt" }}alt="{{ .Get "alt" }}"{{ end }} />
  </div>
  {{ if .Get "caption" }}<figcaption class="img-shortcode__caption">
    <p class="img-shortcode__caption-text">{{ .Get "caption" | markdownify }}</p>
  </figcaption>{{ end }}</figure>