<!--
//
//  TABLE OF CONTENTS
//––––––––––––––––––––––––––––––––––––––––––––––––––

Params:
N/A

-->

<div class="table-of-contents">
  <a href="javascript:void(0);" class="table-of-contents__toggle">
    <span class="table-of-contents__toggle-label">Contents</span>
    <span class="table-of-contents__toggle-icon"></span>
  </a>
  <div class="table-of-contents__wrapper">
    <h3 class="table-of-contents__title">
      What's on this page
    </h3>
    {{ .Page.TableOfContents }}
  </div>
</div><!-- .table-of-contents -->